@use "../../../site/scss/settings/mixins" as mix;
@use "../../../site/scss/settings/typography" as typo;
@use "../../../site/scss/settings/variables" as vars;

.cmp-article-card {
  background: var(--color-primary-50);
  color: var(--color-primary-950);
  border-radius: vars.$border-radius-xl;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  text-decoration: none;
  box-shadow: 0 0 0 1px var(--color-primary-600);

  &:hover {
    box-shadow: 0 0 0 1px var(--color-primary-950);
  }

  &:focus-visible {
    outline-offset: 0px;
  }

  &__image {
    width: 100%;
    height: fit-content;
    aspect-ratio: 16 / 9;

    .cmp-image__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__content {
    @include mix.p(8);
    @include mix.spacer(gap, 3);
    display: flex;
    flex-direction: column;
    @include mix.respond-to("xl", "max") {
      @include mix.p(5);
      @include mix.spacer("gap", 2);
    }
  }

  &__date {
    @include typo.text-xsmall;
    color: var(--color-primary-950);
  }

  &__title {
    @include typo.text-display4();
    color: var(--color-primary-950);
    display: -webkit-box;
    -webkit-line-clamp: 2; // limits to 2 lines
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__desc {
    color: var(--color-primary-700);
    display: -webkit-box;
    -webkit-line-clamp: 2; // limits to 3 lines
    -webkit-box-orient: vertical;
    overflow: hidden;
    @include typo.text-small();
  }

  @include mix.respond-to("xl", "max") {
    &__title {
      @include typo.text-display6();
    }
    &__desc {
      @include typo.text-small();
    }
  }
}

.cmp-carousel__item:has(.cmp-article-card) {
  overflow: visible;
  @include mix.respond-to("md", "max") {
    width: 320px;
  }
  @include mix.respond-to("sm", "max") {
    width: 280px;
  }
}
