@use "../../../site/scss/settings/typography" as typo;
@use "../../../site/scss/settings/variables" as vars;
@use "../../../site/scss/settings/mixins" as mix;

.cmp-advantage-card {
  position: relative;
  max-width: 100%;
  aspect-ratio: 25 / 16;
  text-align: center;
  border-radius: vars.$border-radius-xl;
  overflow: hidden;

  &__heading {
    @include typo.text-display2();
    color: var(--color-primary-950);
    @include mix.m(8, "b");
  }

  &__image-wrapper {
    width: 100%;
    height: 100%;

    .cmp-advantage-card__image,
    .cmp-advantage-card__video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      outline: 0;
    }

    .cmp-advantage-card__close-video {
      position: absolute;
      border: none;
      top: 1.25rem;
      right: 1.25rem;
      width: 48px;
      height: 48px;
      cursor: pointer;
      border-radius: 50%;
      background: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_26713_50066)"><foreignObject x="-4" y="-4" width="56" height="56"><div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(2px);clip-path:url(%23bgblur_1_26713_50066_clip_path);height:100%;width:100%"></div></foreignObject><path data-figma-bg-blur-radius="4" d="M24 48C37.2548 48 48 37.2548 48 24C48 10.7452 37.2548 0 24 0C10.7452 0 0 10.7452 0 24C0 37.2548 10.7452 48 24 48Z" fill="%234D4D4D" fill-opacity="0.64"/></g><rect x="0.5" y="0.5" width="47" height="47" rx="23.5" stroke="%23999999"/><path d="M33 15L15 33M15 15L33 33" stroke="%23999999" stroke-width="2" stroke-linecap="round"/><defs><clipPath id="bgblur_1_26713_50066_clip_path" transform="translate(4 4)"><path d="M24 48C37.2548 48 48 37.2548 48 24C48 10.7452 37.2548 0 24 0C10.7452 0 0 10.7452 0 24C0 37.2548 10.7452 48 24 48Z"/></clipPath><clipPath id="clip0_26713_50066"><rect width="48" height="48" rx="24" fill="white"/></clipPath></defs></svg>');

      &:hover,
      &:focus,
      &:focus-visible {
        background: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_26713_50066)"><foreignObject x="-4" y="-4" width="56" height="56"><div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(2px);clip-path:url(%23bgblur_1_26713_50066_clip_path);height:100%;width:100%"></div></foreignObject><path data-figma-bg-blur-radius="4" d="M24 48C37.2548 48 48 37.2548 48 24C48 10.7452 37.2548 0 24 0C10.7452 0 0 10.7452 0 24C0 37.2548 10.7452 48 24 48Z" fill="%234D4D4D" fill-opacity="0.64"/></g><rect x="0.5" y="0.5" width="47" height="47" rx="23.5" stroke="%23999999"/><path d="M33 15L15 33M15 15L33 33" stroke="white" stroke-width="2" stroke-linecap="round"/><defs><clipPath id="bgblur_1_26713_50066_clip_path" transform="translate(4 4)"><path d="M24 48C37.2548 48 48 37.2548 48 24C48 10.7452 37.2548 0 24 0C10.7452 0 0 10.7452 0 24C0 37.2548 10.7452 48 24 48Z"/></clipPath><clipPath id="clip0_26713_50066"><rect width="48" height="48" rx="24" fill="white"/></clipPath></defs></svg>');
      }

      &:focus-visible {
        outline-offset: 2px;
      }
    }

    .cmp-advantage-card__video,
    .cmp-advantage-card__close-video {
      display: none;
    }
  }

  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    display: flex;
    align-items: flex-end;
    height: 100%;
    background: linear-gradient(0deg, #0f0f10 0%, rgba(15, 15, 16, 0) 100%);
  }

  &__content {
    color: var(--color-primary-950);
    max-width: 600px;
    text-align: left;

    .cmp-advantage-card__title {
      @include typo.text-display3();
      @include mix.m(2, "b");
    }

    .cmp-advantage-card__desc {
      color: var(--color-primary-700);
      @include typo.text-base();
      @include mix.m(4, "b");
    }

    .cmp-advantage-card__btn {
      img {
        object-fit: contain;
        display: block;
      }
    }
  }

  &.is-playing {
    .cmp-advantage-card__image,
    .cmp-advantage-card__overlay {
      display: none;
    }
    .cmp-advantage-card__video,
    .cmp-advantage-card__close-video {
      display: block;
    }
  }

  &:has(.cmp-advantage-card__video:focus-visible) {
    outline: 2px solid var(--color-focus-ring);
  }

  @include mix.respond-to("sm", "max") {
    aspect-ratio: 16 / 25;

    &__content {
      .cmp-advantage-card__title {
        @include typo.text-display4();
      }
    }
  }
}

.swiper-slide {
  &:not(.swiper-slide-active) {
    .cmp-advantage-card {
      .cmp-advantage-card {
        &__title {
          opacity: 0.5;
        }

        &__desc,
        &__btn {
          display: none;
        }
      }
    }
  }

  &:has(.cmp-advantage-card) {
    overflow: visible;
  }
}
