@use "../../../site/scss/settings/typography" as typo;
@use "../../../site/scss/settings/variables" as vars;
@use "../../../site/scss/settings/mixins" as mix;

.cmp-product-compare {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: var(--color-primary-base);
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--color-primary-300);
  transition: all 0.4s ease;
  @include mix.p(5, "y");

  &.relative {
    position: relative;
    bottom: auto;
    right: auto;
    opacity: 0.85;
    /* subtle fade */
    transform: translateY(0px);
  }

  &.is-hidden {
    top: 100%;
    position: fixed;
  }

  .container {
    width: 100%;
    max-width: 1240px;
  }

  &.is-collapsed {
    padding-bottom: 0;

    .cmp-product-compare__content-row {
      display: none;
    }

    .cmp-product-compare__toggle {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='5' viewBox='0 0 14 7' fill='none'%3e%3cpath d='M1 6L7 1L13 6' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    @include mix.p(5, "b");
  }

  &__header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  &__title-group {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__title-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &:has(.cmp-product-compare__error-container.has-error) {
      @include mix.spacer("gap", 4);
    }

    .cmp-product-compare__title {
      color: var(--color-primary-950);
      margin: 0;
      @include typo.text-bold();
    }

    .cmp-product-compare__error-container {
      display: inline-block;
      margin: 0;
      min-height: unset;

      &.has-error {
        display: inline-block;
      }

      .cmp-product-compare__error {
        color: var(--color-error);
        white-space: nowrap;
      }
    }
  }

  &__toggle {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--color-neutral-700);
    height: 24px;
    width: 24px;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center center;
    flex-shrink: 0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='5' viewBox='0 0 14 7' fill='none'%3e%3cpath d='M1 1L7 6L13 1' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: inherit;
    @include mix.spacer("gap", 3);
  }

  &__remove {
    position: absolute;
    top: 4px;
    right: 4px;
    border: none;
    cursor: pointer;
    color: var(--color-primary-950);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    z-index: 1;
    width: 24px;
    height: 24px;
    background: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 4L12 12M4 12L12 4" stroke="white" stroke-width="1"></path></svg>');
    background-repeat: no-repeat;
    background-position: center;
  }

  &__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: inherit;
    flex: 1;
    @include mix.spacer("gap", 3);
  }

  &__image-block {
    flex-shrink: 0;
    position: relative;

    img {
      width: 48px;
      height: auto;
      display: block;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--gradient-product-card);
      border-radius: 100%;
      filter: blur(32px);
      z-index: 0;
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-self: flex-start;

    .cmp-product-compare__name {
      color: var(--color-primary-950);
      @include typo.text-display7();
    }

    .cmp-product-compare__sku {
      color: var(--color-primary-700);
      @include typo.text-tiny();
      @include mix.m(1, "t");
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__content-row {
    max-width: 100%;
    display: flex;
    @include mix.spacer("gap", 3);

    .carousel {
      width: calc(80% - 12px);
    }
  }

  &__list {
    @include mix.spacer("gap", 3);
    @include mix.p(0);
    @include mix.m(0);

    .swiper-slide {
      height: auto;
    }

    .cmp-product-compare__slot {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1 0 0;
      align-self: stretch;
      border-radius: vars.$border-radius;
      border: 1px dashed var(--color-primary-300);
      position: relative;
      text-align: center;
      height: 100%;
      @include mix.p(5);

      &.is-filled {
        border: none;
        border-radius: vars.$border-radius;
        background: var(--color-primary-50);
      }

      .cmp-product-compare__placeholder {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: var(--color-primary-600);
        @include typo.text-xsmall();
        @include mix.spacer("gap", 3);

        .cmp-product-compare__add-icon {
          border-radius: 50%;
          background-color: var(--color-primary-950);
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 12 12"><path d="M2.25 6H9.75M6 2.25V9.75" stroke="currentColor" stroke-linecap="round"></path></svg>');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 12px 12px;
          color: var(--color-primary-base);
          width: 24px;
          height: 24px;
          flex-shrink: 0;
        }

        span:not(.cmp-product-compare__add-icon) {
          display: block;
          text-align: center;
          @include typo.text-tiny();
        }
      }
    }

    .is-empty {
      cursor: pointer;
      text-decoration: none;
    }
  }

  &__actions {
    display: grid;
    flex-shrink: 0;
    margin: auto;
    align-self: flex-end;
    justify-content: flex-end;
    @include mix.spacer("gap", 4);

    .cmp-button {
      cursor: pointer;
      @include typo.text-small();
      @include mix.p(2, "y");
      @include mix.p(3, "x");
    }

    .cmp-button--primary {
      background-color: var(--color-primary-500);
      color: var(--color-primary-950);
      border-radius: vars.$border-radius;
      border: none;
      box-shadow: none;
      opacity: 0.7;
      transition:
        background-color 0.2s ease,
        opacity 0.2s ease;

      &:hover,
      &:active {
        background-color: var(--color-primary-700);
        opacity: 1;
      }

      &:focus {
        outline: 2px solid var(--color-focus-ring);
        outline-offset: 2px;
      }

      &.has-products {
        background-color: var(--color-primary-950);
        color: var(--color-primary-base);
        border: 1px solid var(--color-primary-500);
        opacity: 1;

        &:hover,
        &:active {
          background-color: var(--color-primary-700);
        }

        &:focus-visible {
          outline: 2px solid var(--color-focus-ring);
          outline-offset: 2px;
        }
      }
    }

    .cmp-button--tertiary {
      background-color: transparent;
      line-height: 1.125rem;
      color: var(--color-primary-950);
    }
  }
}

// ======== Mobile View Adjustments ========

@include mix.respond-to("xl", "max") {
  .cmp-product-compare {
    @include mix.p(4, "y");

    .cmp-product-compare__content-row {
      .carousel {
        width: 100%;
      }
    }

    &__link {
      @include mix.spacer("gap", 2);
    }

    &__header {
      @include mix.p(4, "b");
    }

    &__content-row {
      flex-direction: column;
      align-items: stretch;
      @include mix.spacer("gap", 4);
    }

    &__title-row {
      flex-direction: column;
      align-items: flex-start;

      &:has(.cmp-product-compare__error-container.has-error) {
        @include mix.spacer("gap", 1);
      }

      .cmp-product-compare__error-container {
        .cmp-product-compare__error {
          @include typo.text-tiny();
          @include mix.m(0, "l");
          white-space: normal;
          max-width: 100%;
        }
      }

      .cmp-product-compare__title {
        @include typo.text-small();
      }
    }

    &.is-collapsed {
      .cmp-product-compare__title-row {
        @include mix.spacer("gap", 0);
      }
    }

    &__list {
      flex-direction: row;
      @include mix.spacer("gap", 3);

      .cmp-product-compare__slot {
        @include mix.p(4);

        &.is-filled {
          flex-direction: column;
          align-items: center;
          text-align: center;

          .cmp-product-compare__link {
            flex-direction: column;
            align-items: center;
            text-align: center;
          }

          .cmp-product-compare__image-block {
            @include mix.m(2, "b");
          }

          .cmp-product-compare__text-block {
            align-items: flex-start;

            .cmp-product-compare__sku {
              text-align: left;
              @include typo.text-tiny();
            }
          }
        }
      }
    }

    &__actions {
      order: 2;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .cmp-button--tertiary {
        order: 1;
        @include mix.p(0);
        @include mix.m(0);
      }

      .cmp-button--primary {
        order: 2;
        @include mix.m(0);
        @include mix.p(2, "y");
        @include mix.p(3, "x");
      }
    }
  }
}
