/* stylelint-disable declaration-property-value-no-unknown, declaration-block-no-duplicate-properties, rule-empty-line-before, no-duplicate-selectors, value-no-vendor-prefix, property-no-vendor-prefix, selector-pseudo-element-colon-notation, media-feature-range-notation, comment-empty-line-before, selector-attribute-quotes, declaration-empty-line-before, length-zero-no-unit, color-function-alias-notation */

.cmp-product-card {
  background: var(--color-primary-50);
  color: var(--color-primary-950);
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  padding: 2rem;
  gap: 1.25rem;
}

.cmp-product-card__header {
  display: grid;
  grid-template-columns: 3fr 2fr;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: var(--color-primary-700);
  min-height: 40px;
  font-family: var(--font-text);
  font-weight: var(--regular);
  letter-spacing: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.16px;
  gap: 1.5rem;
}

.cmp-product-card__header:not(:has(.cmp-product-card__bundle-message)) {
  grid-template-columns: 1fr;
}

.cmp-product-card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  gap: 1.25rem;
}

.cmp-product-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.cmp-product-card__status {
  color: var(--color-primary-950);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: var(--font-text);
  font-weight: var(--regular);
  letter-spacing: 0;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: 0.24px;
  gap: 0.5rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.cmp-product-card__status .cmp-product-card__status-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
}

.cmp-product-card__status .cmp-product-card__status-item:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 12px;
  background-color: var(--color-primary-300);
}

.cmp-product-card__status--in-stock {
  font-weight: 500;
  color: var(--color-success);
}

.cmp-product-card__image {
  position: relative;
  max-width: 200px;
  margin: 0 auto;
}

.cmp-product-card__image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--gradient-product-card);
  border-radius: 100%;
  -webkit-filter: blur(32px);
  filter: blur(32px);
}

.cmp-product-card__image .cmp-image__image {
  width: 100%;
  position: relative;
  z-index: 1;
  border-radius: 0.5rem;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.cmp-product-card__image .cmp-image__image--hover {
  display: none;
  position: absolute;
  inset: 0;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cmp-product-card__image:has(.cmp-image__image--hover):hover .cmp-image__image {
  opacity: 0;
}

.cmp-product-card__image:has(.cmp-image__image--hover):hover .cmp-image__image--hover {
  display: block;
}

.cmp-product-card__title {
  color: var(--color-primary-950);
  margin-bottom: 0.25rem;
}

.cmp-product-card__title a {
  color: inherit;
  text-decoration: none;
}

.cmp-product-card__title a:hover {
  text-decoration: underline;
}

.cmp-product-card__model {
  color: var(--color-primary-700);
  font-family: var(--font-text);
  font-weight: var(--regular);
  letter-spacing: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.16px;
}

.cmp-product-card__model a {
  color: inherit;
  text-decoration: none;
}

.cmp-product-card__model a:hover {
  text-decoration: underline;
}

.cmp-product-card__rating_and_compare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 0.5rem;
}

.cmp-product-card__compare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cmp-product-card__compare input[type=checkbox] {
  padding: 2px 0;
}

.cmp-product-card__compare .cmp-product-card__compare-label {
  color: var(--color-primary-950);
  cursor: pointer;
  font-family: var(--font-text);
  font-weight: var(--regular);
  letter-spacing: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.16px;
  padding-left: 0.5rem;
}

.cmp-product-card__fps-game {
  color: var(--color-primary-700);
  margin-bottom: 0.25rem;
  font-family: var(--font-text);
  font-weight: var(--regular);
  letter-spacing: 0;
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 0.24px;
}

.cmp-product-card__fps-score {
  display: inline-block;
  background: transparent;
  color: var(--color-primary-950);
  border: 1px solid var(--color-primary-600);
  border-radius: 0.5rem;
  font-family: var(--font-text);
  font-weight: var(--regular);
  letter-spacing: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.16px;
  min-width: 64px;
  min-height: 24px;
  text-align: center;
  padding: 1px 12px;
  line-height: 1.125rem;
  outline-offset: 2px;
}

.cmp-product-card__fps-score:hover {
  border: 1px solid var(--color-primary-950);
}

.cmp-product-card__fps-score:focus-visible {
  outline: 2px solid var(--color-focus-ring);
  outline-offset: 2px;
}

.cmp-product-card__specs {
  margin: 0;
  padding-left: 0.75rem;
  font-family: var(--font-text);
  font-weight: var(--regular);
  letter-spacing: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.16px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.cmp-product-card__specs-item {
  list-style-type: square;
}

.cmp-product-card__price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  gap: 0.5rem;
}

.cmp-product-card__price {
  color: var(--color-primary-950);
  font-family: var(--font-text);
  font-weight: var(--regular);
  letter-spacing: 0;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: var(--medium);
}

.cmp-product-card__original-price {
  text-decoration: line-through;
  color: var(--color-primary-700);
  font-family: var(--font-text);
  font-weight: var(--regular);
  letter-spacing: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.16px;
}

.cmp-product-card__discount {
  color: var(--color-warning);
  font-family: var(--font-text);
  font-weight: var(--regular);
  letter-spacing: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.16px;
}

.cmp-product-card:has(.cmp-product-card__original-price) .cmp-product-card__price {
  color: var(--color-warning);
}

.cmp-product-card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: auto;
  gap: 0.75rem;
}

.cmp-product-card__footer .btn {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cmp-product-card__estore-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.cmp-product-card__estore-line::after {
  content: "";
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 1px;
  background-color: var(--color-primary-300);
  margin-left: 0.25rem;
}

.cmp-product-card__estore-label {
  color: var(--color-primary-700);
  white-space: nowrap;
  font-family: var(--font-text);
  font-weight: var(--regular);
  letter-spacing: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.16px;
}

.cmp-product-card__bundle-message {
  color: var(--color-primary-950);
  font-family: var(--font-text);
  font-weight: var(--regular);
  letter-spacing: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.16px;
  text-align: end;
}

.cmp-product-card__estore-icon-label {
  cursor: pointer;
}

.cmp-product-card__estore-icon-wrapper {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.cmp-product-card__estore-icon-wrapper:hover .cmp-product-card__tooltip {
  display: block;
}

.cmp-product-card__estore-icon {
  background-color: transparent;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><circle cx="8" cy="8" r="6.5" stroke="%23999999"/><rect x="7.25" y="7" width="1.5" height="5.5" rx="0.75" fill="%23999999"/><rect x="7" y="4" width="2" height="2" rx="1" fill="%23999999"/></svg>');
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  margin: -2px 0;
}

.cmp-product-card__estore-icon:active,
.cmp-product-card__estore-icon:hover,
.cmp-product-card__estore-icon:focus-visible {
  outline: 2px solid var(--color-focus-ring);
  outline-offset: -5px;
}

.cmp-product-card__tooltip {
  width: 260px;
}

.cmp-product-card__preview-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: var(--color-primary-100);
  color: var(--color-primary-950);
  border: 1px solid var(--color-primary-700);
  border-radius: 0.5rem;
  cursor: pointer;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  z-index: 2;
  font-family: var(--font-text);
  font-weight: var(--regular);
  letter-spacing: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.16px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.cmp-product-card__preview-btn:focus-visible {
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
}

.cmp-product-card__image:hover .cmp-product-card__preview-btn {
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
}

@media only screen and (max-width: 79.9375rem) {
  .cmp-product-card {
    padding: 1.25rem;
  }

  .cmp-product-card__preview-btn {
    display: none;
  }

  .cmp-product-card__title a {
    font-family: var(--font-display);
    font-weight: var(--medium);
    letter-spacing: 0;
    font-size: 1.125rem;
    line-height: 1.625rem;
  }

  .cmp-product-card__image {
    max-width: 160px;
  }
}

.cmp-product-card__stars {
  --star-size: 16px;
  --percent: 0%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
}

.cmp-product-card__stars-icon {
  position: relative;
  width: calc(var(--star-size) * 5);
  height: var(--star-size);
  background-size: var(--star-size) calc(var(--star-size) + 4px);
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M5.52772 0.858695C5.68337 0.410914 6.31663 0.410914 6.47228 0.858694L7.53156 3.90611C7.60023 4.10364 7.78457 4.23758 7.99366 4.24184L11.2193 4.30757C11.6932 4.31723 11.8889 4.9195 11.5111 5.20591L8.94022 7.15505C8.77357 7.28139 8.70315 7.4981 8.76371 7.69827L9.69796 10.7863C9.83524 11.2401 9.32291 11.6123 8.93379 11.3415L6.28559 9.49873C6.11393 9.37928 5.88607 9.37928 5.71441 9.49873L3.06621 11.3415C2.67709 11.6123 2.16476 11.2401 2.30204 10.7863L3.23629 7.69827C3.29685 7.4981 3.22643 7.28139 3.05979 7.15505L0.488857 5.20591C0.11109 4.91951 0.30678 4.31723 0.780742 4.30757L4.00634 4.24184C4.21543 4.23758 4.39977 4.10365 4.46844 3.90611L5.52772 0.858695Z" fill="%23CCCCCC"/></svg>');
}

.cmp-product-card__stars-icon::after {
  content: "";
  overflow: hidden;
  width: var(--percent);
  height: var(--star-size);
  z-index: 1;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  background-size: var(--star-size) calc(var(--star-size) + 4px);
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M5.52772 0.858695C5.68337 0.410914 6.31663 0.410914 6.47228 0.858694L7.53156 3.90611C7.60023 4.10364 7.78457 4.23758 7.99366 4.24184L11.2193 4.30757C11.6932 4.31723 11.8889 4.9195 11.5111 5.20591L8.94022 7.15505C8.77357 7.28139 8.70315 7.4981 8.76371 7.69827L9.69796 10.7863C9.83524 11.2401 9.32291 11.6123 8.93379 11.3415L6.28559 9.49873C6.11393 9.37928 5.88607 9.37928 5.71441 9.49873L3.06621 11.3415C2.67709 11.6123 2.16476 11.2401 2.30204 10.7863L3.23629 7.69827C3.29685 7.4981 3.22643 7.28139 3.05979 7.15505L0.488857 5.20591C0.11109 4.91951 0.30678 4.31723 0.780742 4.30757L4.00634 4.24184C4.21543 4.23758 4.39977 4.10365 4.46844 3.90611L5.52772 0.858695Z" fill="%23006CE1"/></svg>');
}

.cmp-product-card__stars-text {
  color: var(--color-primary-700);
  font-family: var(--font-text);
  font-weight: var(--regular);
  letter-spacing: 0;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: 0.24px;
}

.cmp-product-card__fps-table {
  border-collapse: collapse;
  text-align: left;
  font-family: var(--font-text);
  font-weight: var(--regular);
  letter-spacing: 0;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: 0.24px;
}

.cmp-product-card__fps-table thead {
  border-bottom: 1px solid var(--color-primary);
}

.cmp-product-card__fps-table tbody tr {
  border-bottom: 1px solid var(--color-primary-700);
}

.cmp-product-card__fps-table tbody tr th,
.cmp-product-card__fps-table tbody tr td {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-weight: 400;
}

.cmp-product-card__fps-table tbody tr th:not(:last-child),
.cmp-product-card__fps-table tbody tr td:not(:last-child) {
  padding-right: 1rem;
}

.cmp-product-card__fps-table tbody tr:last-child {
  border: 0;
}

.cmp-product-card__fps-table tbody tr:last-child th,
.cmp-product-card__fps-table tbody tr:last-child td {
  padding-bottom: 0;
}

.cmp-product-card__fps-table th {
  padding-bottom: 0.75rem;
}

.cmp-product-card__fps-table th:not(:last-child) {
  padding-right: 1rem;
}

.cmp-carousel__item:has(.cmp-product-card) {
  height: auto;
}

.cmp-carousel__item .cmp-product-card {
  height: 100%;
}

@media only screen and (max-width: 79.9375rem) {
  .mobile-margin-top {
    margin-top: 1.25rem;
  }
}

/* Custom Styling */
.product-card-wrapper,
.product-card {
  height: 100%;
}

.cmp-product-card__rating>div:empty {
  min-height: 24px;
}

.cmp-product-card__image .cmp-image__image--hover {
  display: block;
}

.cmp-product-card__image:hover .cmp-image__image--hover {
  opacity: 1;
}

/* stylelint-enable declaration-property-value-no-unknown, declaration-block-no-duplicate-properties, rule-empty-line-before, no-duplicate-selectors, value-no-vendor-prefix, property-no-vendor-prefix, selector-pseudo-element-colon-notation, media-feature-range-notation, comment-empty-line-before, selector-attribute-quotes, declaration-empty-line-before, length-zero-no-unit, color-function-alias-notation */