<section
  class="dialog-container dialog--boxed cmp-fps-dialog"
  data-a11y-dialog="graphic-card-info-dialog"
  id="graphic-card-info-dialog"
  aria-hidden="true"
>
  <div class="dialog-overlay" data-a11y-dialog-hide="graphic-card-info-dialog"></div>
  <div aria-label="graphicCardInfoTitle" class="dialog-content" role="dialog" aria-modal="true">
    <button
      class="dialog-close"
      type="button"
      data-a11y-dialog-hide="graphic-card-info-dialog"
      aria-label="Close dialog"
    ></button>

    <div class="fps-content">   
      <h2 aria-label="graphicCardInfoTitle" class="dialog-title">Graphic Card</h2>
    </div>
  </div>
</section>
