<section
  class="dialog-container dialog--boxed cmp-processor-dialog"
  data-a11y-dialog="processor-info-dialog"
  id="processor-info-dialog"
  aria-hidden="true"
>
  <div class="dialog-overlay" data-a11y-dialog-hide="processor-info-dialog"></div>
  <div aria-label="processorInfoTitle" class="dialog-content" role="dialog" aria-modal="true">
    <button
      class="dialog-close"
      type="button"
      data-a11y-dialog-hide="processor-info-dialog"
      aria-label="Close dialog"
    ></button>

    <div class="fps-content">
      <h2 aria-label="processorInfoTitle" class="dialog-title">What PROCESSOR is right for me?</h2>

      <div class="dialog-section">
        <p>
          Choosing the right processor (CPU) is essential for your PC build, 
          as it acts like the brain of your system, coordinating all components and significantly impacting in-game FPS.
           Here are some great options to consider:
        </p>
      </div>

      <div class="dialog-section">
   
       <div class="processor-USP">
        <div>
          <img src="/clientlib-site/images/intel-core.png" alt="Intel Core Ultra 7 Processor">
         </div>
         <div>
          <p class="processor-title">Intel® Core™ Ultra 7 Processor</p>
          <ul>
            <li>
              Designed for next-gen performance on computing and gaming. 
            </li>
            <li>
              Features advanced efficiency for demanding applications.
            </li>
            <li>
              Adapts to workloads for optimal performance.
            </li>
            <li>
              Deal for gamers and creators needing robust capabilities.
            </li>
          </ul>
         </div>
       </div>
       <div class="processor-USP">
        <div>
          <img src="/clientlib-site/images/intel-core.png" alt="Intel Core Ultra 7 Processor">
         </div>
         <div>
          <p class="processor-title">Intel® Core™ i7-13700KF</p>
          <ul>
            <li>
              Designed for users demanding peak performance.
            </li>
            <li>
              Allows for pushing your system to achieve enhanced speed.
            </li>
            <li>
              Provides superior multitasking capabilities for demanding tasks.
            </li>
            <li>
              Delivers higher frame rates and smoother gameplay experiences.
            </li>
          </ul>
         </div>
       </div>
       <div class="processor-USP">
        <div>
          <img src="/clientlib-site/images/intel-core.png" alt="Intel Core Ultra 7 Processor">
         </div>
         <div>
          <p class="processor-title">Intel® Core™ i5-13400F</p>
          <ul>
            <li>
              Designed for next-gen performance on computing and gaming. 
            </li>
            <li>
              Features advanced efficiency for demanding applications.
            </li>
            <li>
              Adapts to workloads for optimal performance.
            </li>
            <li>
              Deal for gamers and creators needing robust capabilities.
            </li>
          </ul>
         </div>
       </div>
      </div>
    </div>
  </div>
</section>