<section
   class="dialog-container dialog--boxed specification-dialog"
   data-a11y-dialog="specifications-info-dialog"
   aria-hidden="true"
   >
   <div class="dialog-overlay" data-a11y-dialog-hide="specifications-info-dialog"></div>
   <div aria-label="specificationsInfoTitle" class="dialog-content" role="dialog" aria-modal="true">
   <!-- <button
      class="dialog-close"
      type="button"
      data-a11y-dialog-hide="specifications-info-dialog"
      aria-label="Close dialog"
      ></button> -->
   <div class="specifications-info-content">
      <p>
         We'll need to adjust some other specs if you choose NVIDIA® GeForce RTX™ 4080 Dual Desktop GPU .
      </p>
      <div class="specification-table">
         <div class="headings">
            <p class="current-spec">Current Spec</p>
            <p class="new-spec"> New Spec</p>
         </div>
         <div class="specification-table-content-section">
            <p>Graphic Card</p>
            <div class="specification-table-content">
               <div class="specification-table-content__item">
                  <p>NVIDIA&#174; GeForce RTX&#8482; 4080 Dual Desktop GPU</p>
               </div>
               <div class="specification-table-content__item--new">  <span > <img src="./clientlib-site/images/arrow-right.webp" alt="arrow-right"></span>   <span > <img src="./clientlib-site/images/blue-tick.webp" alt="blue-tick"></span> NVIDIA&#174; GeForce RTX&#8482;4080 Dual Desktop GPU</div>
            </div>
         </div>
         <div class="specification-table-content-section">
            <p>Memory</p>
            <div class="specification-table-content">
               <div class="specification-table-content__item">
                  <p>16GB</p>
               </div>
               <div class="specification-table-content__item--new">  <span > <img src="./clientlib-site/images/arrow-right.webp" alt="arrow-right"></span>   <span > <img src="./clientlib-site/images/blue-tick.webp" alt="blue-tick"></span>32GB</div>
            </div>
         </div>
         <div class="specification-table-content-section">
            <p>Storage</p>
            <div class="specification-table-content">
               <div class="specification-table-content__item">
                  <p>1TB M.2 NVMe&#8482;
                     PCIe&#174; 4.0 SSD storage
                  </p>
               </div>
               <div class="specification-table-content__item--new"> <span > <img src="./clientlib-site/images/arrow-right.webp" alt="arrow-right"></span>  <span > <img src="./clientlib-site/images/blue-tick.webp" alt="blue-tick"></span>2TB M.2 NVMe&#8482;
                  PCIe&#174; 4.0 SSD storage
               </div>
            </div>
         </div>
      </div>
      <div class="specification-info-footer">
         <div class="price">
            <div>Total price change</div>
            <div> + $1,200.00</div>
         </div>
         <div> <input type="checkbox"  name="checkbox" value="checkbox" aria-label="Do not Show again"> <label for="checkbox">Don’t show this again.</label> Click on <span><img src="./clientlib-site/images/info-filled.webp" alt="notification-info"></span> icon on the options anytime to see this reminder again</div>
         <div class="actions"> <button type="button"  data-a11y-dialog-hide="specifications-info-dialog"
            aria-label="Close dialog" class="btn cancel-btn">Cancel</button> <button type="button" class="btn accept-btn">Accept</button></div>
      </div>
   </div>
</section>