/* stylelint-disable declaration-property-value-no-unknown, declaration-block-no-duplicate-properties, rule-empty-line-before, no-duplicate-selectors, value-no-vendor-prefix, property-no-vendor-prefix, selector-pseudo-element-colon-notation, media-feature-range-notation, comment-empty-line-before, selector-attribute-quotes, declaration-empty-line-before, length-zero-no-unit, color-function-alias-notation */

.cmp-advantage-card {
    position: relative;
    max-width: 100%;
    aspect-ratio: 25/16;
    text-align: center;
    border-radius: 1rem;
    overflow: hidden;
}

.cmp-advantage-card__heading {
    font-family: var(--font-display);
    font-weight: var(--medium);
    letter-spacing: 0;
    font-size: 2.75rem;
    line-height: 3.25rem;
    color: var(--color-primary-950);
    margin-bottom: 2rem;
}

.cmp-advantage-card__image-wrapper {
    width: 100%;
    height: 100%;
}

.cmp-advantage-card__image-wrapper .cmp-advantage-card__image,
.cmp-advantage-card__image-wrapper .cmp-advantage-card__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-fit: cover;
    display: block;
    outline: 0;
}

.cmp-advantage-card__image-wrapper .cmp-advantage-card__close-video {
    position: absolute;
    border: none;
    top: 1.25rem;
    right: 1.25rem;
    width: 48px;
    height: 48px;
    cursor: pointer;
    border-radius: 50%;
    background: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_26713_50066)"><foreignObject x="-4" y="-4" width="56" height="56"><div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(2px);clip-path:url(%23bgblur_1_26713_50066_clip_path);height:100%;width:100%"></div></foreignObject><path data-figma-bg-blur-radius="4" d="M24 48C37.2548 48 48 37.2548 48 24C48 10.7452 37.2548 0 24 0C10.7452 0 0 10.7452 0 24C0 37.2548 10.7452 48 24 48Z" fill="%234D4D4D" fill-opacity="0.64"/></g><rect x="0.5" y="0.5" width="47" height="47" rx="23.5" stroke="%23999999"/><path d="M33 15L15 33M15 15L33 33" stroke="%23999999" stroke-width="2" stroke-linecap="round"/><defs><clipPath id="bgblur_1_26713_50066_clip_path" transform="translate(4 4)"><path d="M24 48C37.2548 48 48 37.2548 48 24C48 10.7452 37.2548 0 24 0C10.7452 0 0 10.7452 0 24C0 37.2548 10.7452 48 24 48Z"/></clipPath><clipPath id="clip0_26713_50066"><rect width="48" height="48" rx="24" fill="white"/></clipPath></defs></svg>');
}

.cmp-advantage-card__image-wrapper .cmp-advantage-card__close-video:hover,
.cmp-advantage-card__image-wrapper .cmp-advantage-card__close-video:focus,
.cmp-advantage-card__image-wrapper .cmp-advantage-card__close-video:focus-visible {
    background: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_26713_50066)"><foreignObject x="-4" y="-4" width="56" height="56"><div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(2px);clip-path:url(%23bgblur_1_26713_50066_clip_path);height:100%;width:100%"></div></foreignObject><path data-figma-bg-blur-radius="4" d="M24 48C37.2548 48 48 37.2548 48 24C48 10.7452 37.2548 0 24 0C10.7452 0 0 10.7452 0 24C0 37.2548 10.7452 48 24 48Z" fill="%234D4D4D" fill-opacity="0.64"/></g><rect x="0.5" y="0.5" width="47" height="47" rx="23.5" stroke="%23999999"/><path d="M33 15L15 33M15 15L33 33" stroke="white" stroke-width="2" stroke-linecap="round"/><defs><clipPath id="bgblur_1_26713_50066_clip_path" transform="translate(4 4)"><path d="M24 48C37.2548 48 48 37.2548 48 24C48 10.7452 37.2548 0 24 0C10.7452 0 0 10.7452 0 24C0 37.2548 10.7452 48 24 48Z"/></clipPath><clipPath id="clip0_26713_50066"><rect width="48" height="48" rx="24" fill="white"/></clipPath></defs></svg>');
}

.cmp-advantage-card__image-wrapper .cmp-advantage-card__close-video:focus-visible {
    outline-offset: 2px;
}

.cmp-advantage-card__image-wrapper .cmp-advantage-card__video,
.cmp-advantage-card__image-wrapper .cmp-advantage-card__close-video {
    display: none;
}

.cmp-advantage-card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    display: -webkit-box;
    display: flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(#0f0f10), to(rgba(15, 15, 16, 0)));
    background: linear-gradient(0deg, #0f0f10 0%, rgba(15, 15, 16, 0) 100%);
}

.cmp-advantage-card__content {
    color: var(--color-primary-950);
    max-width: 600px;
    text-align: left;
}

.cmp-advantage-card__content .cmp-advantage-card__title {
    font-family: var(--font-display);
    font-weight: var(--medium);
    letter-spacing: 0;
    font-size: 1.875rem;
    line-height: 2.375rem;
    margin-bottom: 0.5rem;
}

.cmp-advantage-card__content .cmp-advantage-card__desc {
    color: var(--color-primary-700);
    font-family: var(--font-text);
    font-weight: var(--regular);
    letter-spacing: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.cmp-advantage-card__content .cmp-advantage-card__btn img {
    -o-object-fit: contain;
    object-fit: contain;
    display: block;
}

.cmp-advantage-card.is-playing .cmp-advantage-card__image,
.cmp-advantage-card.is-playing .cmp-advantage-card__overlay {
    display: none;
}

.cmp-advantage-card.is-playing .cmp-advantage-card__video,
.cmp-advantage-card.is-playing .cmp-advantage-card__close-video {
    display: block;
}

.cmp-advantage-card:has(.cmp-advantage-card__video:focus-visible) {
    outline: 2px solid var(--color-focus-ring);
}

@media only screen and (width <= 35.9375rem) {
    .cmp-advantage-card {
        aspect-ratio: 16/25;
    }

    .cmp-advantage-card__content .cmp-advantage-card__title {
        font-family: var(--font-display);
        font-weight: var(--medium);
        letter-spacing: 0;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}

.swiper-slide:not(.swiper-slide-active) .cmp-advantage-card .cmp-advantage-card__title {
    opacity: 0.5;
}

.swiper-slide:not(.swiper-slide-active) .cmp-advantage-card .cmp-advantage-card__desc,
.swiper-slide:not(.swiper-slide-active) .cmp-advantage-card .cmp-advantage-card__btn {
    display: none;
}

.swiper-slide:has(.cmp-advantage-card) {
    overflow: visible;
}
/* stylelint-enable declaration-property-value-no-unknown, declaration-block-no-duplicate-properties, rule-empty-line-before, no-duplicate-selectors, value-no-vendor-prefix, property-no-vendor-prefix, selector-pseudo-element-colon-notation, media-feature-range-notation, comment-empty-line-before, selector-attribute-quotes, declaration-empty-line-before, length-zero-no-unit, color-function-alias-notation */
