@use "../../../site/scss/settings/variables" as vars;
@use "../../../site/scss/settings/mixins" as mix;
@use "../../../site/scss/settings/typography" as typo;

.game-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  input[type="checkbox"] {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
  }

  .game-details-wrapper {
    width: 100%;
    border-radius: vars.$border-radius-md;
    display: flex;
    flex-direction: column;
    @include mix.spacer("gap", 3);
  }

  .image-wrapper {
    position: relative;
    border-radius: vars.$border-radius;
    transition: border 0.2s ease;
    border: 1px solid var(--color-primary-600);
    overflow: hidden;

    .game-image {
      width: 100%;
      display: block;
    }
  }

  .image-outer {
    position: relative;
    overflow: hidden;

    .checkmark-overlay {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 40px;
      height: 40px;
      background-color: transparent;
      color: var(--color-primary-950);
      display: none;
      align-items: center;
      justify-content: center;
      border-radius: vars.$border-radius 0;
    }
  }

  input[type="checkbox"]:hover + .game-details-wrapper .game-info {
    text-decoration: underline;
  }

  input[type="checkbox"]:checked + .game-details-wrapper {
    .image-wrapper {
      border: 3px solid var(--color-info);
    }

    .checkmark-overlay {
      display: flex;
      background-color: var(--color-info);

      &::after {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 20 20' fill='none'><path d='M5 10L9 14L15 6' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>")
          no-repeat center center;
        background-size: contain;
      }
    }
  }

  input[type="checkbox"]:not(:checked):hover + .game-details-wrapper .image-wrapper {
    border: 2px solid var(--color-primary-950);
  }

  input[type="checkbox"]:focus-visible + .game-details-wrapper {
    outline: 2px solid var(--color-info);
    outline-offset: 2px;
  }

  .game-info {
    width: 100%;
    @include typo.text-small();
  }

  @include mix.respond-to("xl", "max") {
    .checkmark-overlay {
      width: 32px;
      height: 32px;
    }

    .game-details-wrapper {
      @include mix.spacer("gap", 2);
    }

    input[type="checkbox"]:checked + .game-details-wrapper {
      .checkmark-overlay {
        &::after {
          content: "";
          width: 16px;
          height: 16px;
        }
      }
    }

    .cmp-carousel__item.swiper-slide {
      width: 156px;
    }
  }
}

.cmp-carousel__item.swiper-slide:has(.game-item) {
  overflow: visible;

  @include mix.respond-to("md", "max") {
    width: 156px;
  }
}
