@use "../../../../site/scss/settings/typography" as typo;
@use "../../../../site/scss/settings/variables" as vars;
@use "../../../../site/scss/settings/mixins" as mix;

.cmp-floating-price {
  background: var(--color-primary-950);
  @include mix.p(5, "y");
  @include mix.p(20, "x");
  bottom: 0;
  color: var(--color-primary);
  position: fixed;
  width: 100%;
  z-index: 10;

  .cmp-floating-content-left {
    p {
      @include typo.text-tiny;
      color: var(--color-primary-300);
    }
  }
  .cmp-floating-content-right {
    display: flex;
    @include mix.spacer("gap", 6);
    .content-section {
      text-align: right;
      .price {
        color: #c74200;
      }
      .slashed-price {
        text-decoration: line-through;
        @include mix.m(2, "x");
      }
      .discount {
        color: #c74200;
      }
      .links {
        color: var(--color-info);
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .action-section {
      icon {
        width: 16px;
        height: 22px;
        vertical-align: middle;
      }
      .floating-add-to-cart {
        background: var(--color-primary);
        color: var(--color-primary-950);
      }
    }
  }
}
.mobile-only {
  display: none;
}
.discount-text {
  color: #c74200;
}
@include mix.respond-to("md", "max") {
  .web-only {
    display: none;
  }
  .cmp-floating-price {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mobile-only {
    display: block;
    .cmp-price-section {
      display: flex;
      @include mix.spacer("gap", 6);
      justify-content: space-between;
    }
    .cmp-info-section {
      p {
        @include typo.text-tiny;
        @include mix.m(2, "b");
      }
      .slashed-price {
        text-decoration: line-through;
        @include mix.m(2, "x");
      }
    }

    .hide-more {
      margin-top: 10px;
    }

    .hide-more-title {
      cursor: pointer;
      position: relative;
      @include typo.text-display7;
      margin: 0;
      color: var(--color-info);
    }

    .hide-more-title::after {
      content: "";
      position: absolute;
      left: 25%;
      top: 45%;
      transition: all 0.2s ease-in-out;
      display: block;
      width: 6px;
      height: 6px;
      border-top: solid 2px var(--color-info);
      border-right: solid 2px var(--color-info);
      transform: translateY(-50%) rotate(135deg);
    }

    .hide-more-content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out;
      @include typo.text-tiny;
      color: var(--color-primary-300);
      p {
        @include typo.text-tiny;
      }
    }

    .hide-more-item.is-open .hide-more-content {
      max-height: 150px;
    }

    .hide-more-item.is-open .hide-more-title::after {
      transform: translateY(-50%) rotate(315deg);
    }
  }
  .actions-mobile {
    .icon {
      width: 16px;
      height: 22px;
      vertical-align: middle;
    }
    .floating-add-to-cart {
      background: var(--color-primary);
      color: var(--color-primary-950);
    }
  }
}
