/* stylelint-disable selector-type-no-unknown, declaration-property-value-no-unknown, declaration-block-no-duplicate-properties, selector-pseudo-class-no-unknown, selector-pseudo-element-no-unknown, no-duplicate-selectors, media-feature-range-notation, selector-attribute-quotes, selector-pseudo-element-colon-notation */
.header-wrapper {
    position: relative;
    background-color: var(--color-primary);
}

body:has(.overlap-header) .header-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.cmp-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: var(--color-primary);
    color: var(--color-primary-950);
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.cmp-header .cmp-navigation__group,
.cmp-header .cmp-sitenavigation__group {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cmp-header .cmp-navigation {
    line-height: normal;
    height: 24px;
}

.cmp-header .cmp-navigation__item--logo {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}

@media only screen and (max-width: 35.9375rem) {
    .cmp-header .cmp-navigation__item--logo {
        width: 12.812rem;
    }
}

.cmp-header .logo-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    position: relative;
    line-height: normal;
    padding-right: 1rem;
}

.cmp-header .logo-item:last-child {
    padding-right: 0;
}

.cmp-header .logo-item .logo-wrapper {
    position: relative;
    display: inline-block;
}

.cmp-header .logo-item img {
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    display: block;
}

.cmp-header .logo-item img.logo-default {
    opacity: 1;
}

.cmp-header .logo-item img.logo-hover {
    position: absolute;
    inset: 0;
    opacity: 0;
}

.cmp-header .logo-item--rog {
    gap: 0.75rem;
}

.cmp-header .logo-item--gaming {
    padding-left: 1rem;
    border-left: 1px solid var(--color-primary-300);
}

.cmp-header .cmp-sitenavigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.cmp-header .cmp-sitenavigation__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 1.25rem;
}

.cmp-header .cmp-sitenavigation__item {
    margin-right: 2.5rem;
}

.cmp-header .cmp-sitenavigation__item-link {
    color: var(--color-primary-950);
    font-family: var(--font-display);
    font-weight: var(--medium);
    letter-spacing: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-decoration: none;
    -webkit-transition: color 0.3s ease, border-bottom 0.3s ease;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.cmp-header .cmp-sitenavigation__item-link:hover {
    text-decoration: underline;
}

.cmp-header .cmp-sitenavigation__item--profile {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
}

.cmp-header .cmp-sitenavigation__item__group--icons a {
    text-decoration: none;
    color: var(--color-primary-600);
    padding-left: 0;
    padding-right: 0;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    display: block;
}

.cmp-header .cmp-sitenavigation__item__group--icons a:hover {
    color: var(--color-primary-950);
    text-decoration: underline;
}

.cmp-header .cmp-sitenavigation__item .icon {
    width: 1.125rem;
    height: 1.125rem;
    margin: auto;
}

.cmp-header .cmp-sitenavigation__item--menu-toggle button {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: -3px;
}

.mobile-menu-overlay {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-primary-50);
    z-index: 998;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: auto;
}

.mobile-menu-overlay .mobile-menu {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.mobile-menu-overlay .mobile-menu li:not(:last-child) {
    border-bottom: 1px solid var(--color-primary-200);
}

.mobile-menu-overlay .mobile-menu li :is(a, button) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    color: var(--color-primary-950);
    font-family: var(--font-display);
    font-weight: var(--medium);
    letter-spacing: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    gap: 0.25rem;
    outline-offset: -2px;
}

.mobile-menu-overlay .mobile-menu li .icon {
    width: 0.75rem;
    height: 0.75rem;
}

.mobile-menu-overlay .mobile-menu .mobile-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid var(--color-primary-500);
    border-radius: 0.5rem;
    padding: 0.5rem;
    gap: 0.5rem;
}

.mobile-menu-overlay .mobile-menu .mobile-search input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: var(--color-primary-50);
    border: none;
    outline: none;
    color: var(--color-primary-950);
    font-family: var(--font-display);
    font-weight: var(--medium);
    letter-spacing: 0;
    font-size: 1.125rem;
    line-height: 1.625rem;
}

.mobile-menu-overlay .mobile-menu .mobile-search input::-webkit-input-placeholder {
    color: var(--color-primary-600);
}

.mobile-menu-overlay .mobile-menu .mobile-search input::-moz-placeholder {
    color: var(--color-primary-600);
}

.mobile-menu-overlay .mobile-menu .mobile-search input:-ms-input-placeholder {
    color: var(--color-primary-600);
}

.mobile-menu-overlay .mobile-menu .mobile-search input::-ms-input-placeholder {
    color: var(--color-primary-600);
}

.mobile-menu-overlay .mobile-menu .mobile-search input::placeholder {
    color: var(--color-primary-600);
}

.mobile-menu-overlay .mobile-menu .mobile-account-section {
    position: relative;
}

.mobile-menu-overlay .mobile-menu .mobile-account-section .mobile-account-toggle {
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    color: var(--color-primary-950);
    font-family: var(--font-display);
    font-weight: var(--medium);
    letter-spacing: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.mobile-menu-overlay .mobile-menu .mobile-account-section .mobile-account-toggle .profile {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.mobile-menu-overlay .mobile-menu .mobile-account-section .mobile-account-toggle .arrow-icon {
    color: var(--color-primary-950);
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.mobile-menu-overlay .mobile-menu .mobile-account-section .mobile-account-submenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-primary-50);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    z-index: 1001;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.mobile-menu-overlay .mobile-menu .mobile-account-section .mobile-account-submenu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.mobile-menu-overlay .mobile-menu .mobile-account-section .mobile-account-submenu .submenu-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid var(--color-primary-200);
    gap: 0.25rem;
}

.mobile-menu-overlay .mobile-menu .mobile-account-section .mobile-account-submenu .submenu-header .back-button {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: none;
    cursor: pointer;
    width: 100%;
    color: var(--color-primary-950);
    gap: 0.75rem;
}

.mobile-menu-overlay .mobile-menu .mobile-account-section .mobile-account-submenu .submenu-header .back-button .icon {
    width: 12px;
    height: 12px;
}

.mobile-menu-overlay .mobile-menu .mobile-account-section .mobile-account-submenu .submenu-header .submenu-profile-icon {
    width: 18px;
    height: 18px;
}

.mobile-menu-overlay .mobile-menu .mobile-account-section .mobile-account-submenu .submenu-header .submenu-title {
    font-family: var(--font-display);
    font-weight: var(--medium);
    letter-spacing: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--color-primary-950);
}

.mobile-menu-overlay .mobile-menu .mobile-account-section .mobile-account-submenu .submenu-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.mobile-menu-overlay .mobile-menu .mobile-account-section .mobile-account-submenu .submenu-items li:last-child {
    border-bottom: none;
}

.mobile-menu-overlay .mobile-menu .mobile-account-section .mobile-account-submenu .submenu-items li a {
    display: block;
    text-decoration: none;
    color: var(--color-primary-950);
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    font-family: var(--font-display);
    font-weight: var(--medium);
    letter-spacing: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1.5rem;
}

.mobile-menu-overlay .mobile-menu .mobile-account-section .mobile-account-submenu .submenu-items li a:hover {
    background-color: var(--color-primary-100);
}

.mobile-menu-overlay.submenu-active .mobile-menu {
    padding-top: 0;
}

.mobile-menu-overlay.submenu-active .mobile-menu>li:not(.mobile-account-section) {
    display: none !important;
}

.mobile-menu-overlay.submenu-active .mobile-account-section .mobile-account-toggle {
    display: none !important;
}

body:not(.mobile-menu-open) .cmp-sitenavigation__item--menu-toggle .icon--close {
    display: none;
}

body:not(.mobile-menu-open) .cmp-sitenavigation__item--menu-toggle .icon--hamburger {
    display: block;
}

body.mobile-menu-open {
    position: fixed;
    width: 100%;
    overflow: hidden;
}

body.mobile-menu-open .mobile-menu-overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

body.mobile-menu-open .icon--close {
    display: block;
}

body.mobile-menu-open .icon--hamburger {
    display: none;
}

body.mobile-menu-open .cmp-sitenavigation__item--menu-toggle .icon--close {
    display: block;
}

body.mobile-menu-open .cmp-sitenavigation__item--menu-toggle .icon--hamburger {
    display: none;
}

.mini-cart {
    position: relative;
}

.mini-cart .mini-cart-toggle {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
}

.mini-cart .mini-cart-toggle::after {
    content: attr(total-items);
    color: var(--color-primary);
    font-family: var(--font-text);
    font-weight: var(--regular);
    letter-spacing: 0;
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: 0.24px;
    font-family: var(--font-display);
    position: absolute;
    background-color: var(--color-primary-950);
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    top: -8px;
    left: 10px;
}

.mini-cart .mini-cart-toggle:not([total-items])::after {
    content: none;
}

.mini-cart .mini-cart-toggle[aria-expanded=true] {
    color: var(--color-primary-950);
}

.mini-cart .mini-cart-container {
    display: none;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1rem;
    top: 100%;
    right: -16px;
    -webkit-box-shadow: 0 0 0 1px var(--color-primary-600);
    box-shadow: 0 0 0 1px var(--color-primary-600);
    border-radius: 1rem;
    background-color: var(--color-primary);
    margin-top: 0.75rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    z-index: 999;
}

.mini-cart .mini-cart-container::before {
    content: "";
    position: absolute;
    top: -9px;
    right: 18px;
    width: 16px;
    height: 16px;
    background: var(--color-primary-base);
    border: 1px solid var(--color-primary-600);
    border-bottom: none;
    border-right: none;
    border-top-left-radius: 3px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: -1;
}

.mini-cart .mini-cart-container .mini-cart__close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    color: var(--color-primary-950);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    background-color: transparent;
}

.mini-cart .mini-cart-container .mini-cart__close span.mini-cart__close-icon {
    background: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 2L2 14M2 2L14 14" stroke="white" stroke-linecap="round" /></svg>');
    height: 1rem;
    width: 1rem;
}

.mini-cart .mini-cart-container .mini-cart__message {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.mini-cart .mini-cart-container .mini-cart__message a {
    color: var(--color-select-box-highlight);
    display: inline;
}

.mini-cart .mini-cart-container .cart-summary {
    width: 356px;
    font-family: var(--font-display);
    font-weight: var(--medium);
    letter-spacing: 0;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.mini-cart .mini-cart-container .cart-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    overflow-y: auto;
    max-height: 400px;
}

.mini-cart .mini-cart-container .cart-items::-webkit-scrollbar-button {
    display: none;
}

.mini-cart .mini-cart-container .cart-items::-webkit-scrollbar-thumb {
    background: var(--color-primary-600);
    border-radius: 3px;
}

.mini-cart .mini-cart-container .cart-items::-webkit-scrollbar-track {
    background: var(--color-primary-300);
    border-radius: 3px;
}

.mini-cart .mini-cart-container .cart-items::-webkit-scrollbar {
    width: 6px;
}

.mini-cart .mini-cart-container .cart-items .cart-item {
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    gap: 0.75rem;
    border-bottom: 1px solid var(--color-primary-300);
}

.mini-cart .mini-cart-container .cart-items .cart-item .img-wrapper {
    position: relative;
    width: 4rem;
    height: 4rem;
}

.mini-cart .mini-cart-container .cart-items .cart-item .img-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gradient-product-card);
    border-radius: 100%;
    -webkit-filter: blur(32px);
    filter: blur(32px);
    z-index: 0;
}

.mini-cart .mini-cart-container .cart-items .cart-item .img-wrapper img {
    z-index: 1;
    width: 4rem;
}

.mini-cart .mini-cart-container .cart-items .cart-item .product-info-container {
    width: 280px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0.75rem;
}

.mini-cart .mini-cart-container .cart-items .cart-item .product-info-container .product-info {
    max-width: 227px;
}

.mini-cart .mini-cart-container .cart-items .cart-item .product-info-container .product-info .product-name {
    font-family: var(--font-display);
    font-weight: var(--medium);
    letter-spacing: 0;
    font-size: 1rem;
    line-height: 1.5rem;
}

.mini-cart .mini-cart-container .cart-items .cart-item .product-info-container .product-info small {
    color: var(--color-primary-600);
}

.mini-cart .mini-cart-container .cart-items .cart-item .product-info-container .price-info {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.mini-cart .mini-cart-container .cart-items .cart-item .product-info-container .price-info strong {
    line-height: 1.375rem;
}

.mini-cart .mini-cart-container .cart-items .cart-item:last-child {
    margin-bottom: 0;
}

.mini-cart .mini-cart-container .subtotal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-top: -16px;
    border-top: 1px solid var(--color-primary-300);
    padding-top: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.mini-cart .mini-cart-container .subtotal p {
    line-height: 1.375rem;
}

.mini-cart .mini-cart-container .subtotal-amount {
    line-height: 1.625rem;
}

.mini-cart .mini-cart-container .checkout-btn {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.mini-cart .mini-cart-container .checkout-btn .btn {
    width: 100%;
    gap: 8px;
    color: var(--color-primary);
}

.mini-cart .mini-cart-container .checkout-btn .btn:hover {
    background-color: var(--btn-hover-bg);
    color: var(--color-primary);
}

.mini-cart .mini-cart-container[aria-hidden=false] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.profile-dropdown {
    position: relative;
    margin-top: 6px;
}

.profile-dropdown .profile-toggle {
    background: none;
    border: none;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    color: var(--color-primary-950);
}

.profile-dropdown .profile-toggle.logged-in::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 2px;
    width: 6px;
    height: 6px;
    background-color: var(--color-success);
    border-radius: 50%;
    border: 1px solid var(--color-primary-50);
}

.profile-dropdown .profile-menu {
    position: absolute;
    top: 100%;
    right: -15px;
    min-width: 217px;
    border-radius: 1rem;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 999;
    list-style: none;
    border: 1px solid var(--color-primary-600);
    background: var(--color-primary-base);
    -webkit-box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
    color: var(--color-primary-600);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
    margin-top: 0.5rem;
}

.profile-dropdown .profile-menu::before {
    content: "";
    position: absolute;
    top: -9px;
    right: 18px;
    width: 16px;
    height: 16px;
    background: var(--color-primary-base);
    border: 1px solid var(--color-primary-600);
    border-bottom: none;
    border-right: none;
    border-top-left-radius: 3px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: -1;
}

.profile-dropdown .profile-menu .profile-menu__header {
    position: relative;
}

.profile-dropdown .profile-menu .profile-menu__header .profile-menu__close {
    position: absolute;
    top: -25px;
    padding: 0;
    right: -8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-primary-950);
    width: 1.5rem;
    height: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

.profile-dropdown .profile-menu .profile-menu__header .profile-menu__close span.close_icon {
    background: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 2L2 14M2 2L14 14" stroke="white" stroke-linecap="round" /></svg>') center/contain no-repeat;
    height: 1rem;
    width: 1rem;
}

.profile-dropdown .profile-menu .profile-menu__user-name {
    font-family: var(--font-display);
    font-weight: var(--medium);
    letter-spacing: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--color-primary-950);
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid var(--color-primary-300);
}

.profile-dropdown .profile-menu .profile-menu__item {
    padding: 0.25rem 0;
}

.profile-dropdown .profile-menu .profile-menu__item a {
    white-space: nowrap;
    font-family: var(--font-text);
    font-weight: var(--regular);
    letter-spacing: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--color-primary-600);
    text-decoration: none;
}

.profile-dropdown .profile-menu .profile-menu__item a:hover {
    text-decoration: underline;
}

.profile-dropdown.open .profile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* Responsive remains same */
@media only screen and (max-width: 35.9375rem) {
    .cmp-header {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }

    .cmp-header .cmp-sitenavigation__group--main,
    .cmp-header .cmp-sitenavigation__item--search,
    .cmp-header .cmp-sitenavigation__item--profile {
        display: none;
    }

    .cmp-header .cmp-sitenavigation__item--cart,
    .cmp-header .cmp-sitenavigation__item--menu-toggle {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .cmp-header .logo-item {
        padding-right: 0.75rem;
    }

    .cmp-header .logo-item--gaming {
        padding-left: 0.75rem;
    }

    .cmp-header .cmp-navigation__item--logo img {
        max-width: 225px;
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 79.9375rem) {
    .cmp-header {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .cmp-header .cmp-navigation {
        line-height: 16px;
        height: 16px;
    }

    .cmp-header .cmp-navigation img {
        height: 16px;
    }

    .cmp-header .cmp-sitenavigation {
        line-height: 18px;
        margin: -2px 0;
    }

    .cmp-header .cmp-sitenavigation__group--main {
        display: none;
    }

    .cmp-header .cmp-sitenavigation__item {
        margin: 0;
    }

    .cmp-header .cmp-sitenavigation__item--search,
    .cmp-header .cmp-sitenavigation__item--profile {
        display: none;
    }

    .cmp-header .cmp-sitenavigation__item--cart --menu-toggle {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 18px;
    }

    .cmp-header .cmp-sitenavigation__group {
        gap: 1.25rem;
    }

    .cmp-header .cmp-sitenavigation__group--icons .cmp-sitenavigation__item-link,
    .cmp-header .cmp-sitenavigation__group--icons a,
    .cmp-header .cmp-sitenavigation__group--icons button {
        color: var(--color-primary-950);
        line-height: normal;
        padding: 0;
    }

    .cmp-header .mini-cart .mini-cart-container .checkout-btn button {
        line-height: 1.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

@media only screen and (min-width: 80rem) {
    .cmp-sitenavigation__item--menu-toggle {
        display: none;
    }

    .mobile-menu-overlay {
        display: none !important;
    }

    body.mobile-menu-open {
        position: static;
        width: auto;
        overflow: visible;
    }
}

@media only screen and (max-width: 45.625rem) {
    .mini-cart .mini-cart-container[aria-hidden=false] {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        margin-top: 0;
        border: none;
        border-radius: 0;
    }

    .mini-cart .mini-cart-container[aria-hidden=false]::before {
        display: none;
    }

    .mini-cart .mini-cart-container[aria-hidden=false] .cart-summary {
        margin: 0 46px;
    }

    .mini-cart .mini-cart-container[aria-hidden=false] .mini-cart__close span.mini-cart__close-icon {
        background: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 2L2 14M2 2L14 14" stroke="white" stroke-linecap="round" /></svg>');
        height: 1.125rem;
        width: 1.125rem;
    }

    .mini-cart .mini-cart-container[aria-hidden=false] .cart-items {
        height: 100%;
        max-height: 100%;
        padding: 0 46px;
    }

    .mini-cart .mini-cart-container[aria-hidden=false] .cart-items .cart-item .product-info-container {
        width: 100%;
    }

    .mini-cart .mini-cart-container[aria-hidden=false] .subtotal {
        margin-left: 46px;
        margin-right: 46px;
    }

    .mini-cart .mini-cart-container[aria-hidden=false] .checkout-btn {
        width: 100%;
        max-width: 280px;
        padding: 0;
        -ms-flex-item-align: center;
        align-self: center;
    }
}

@media only screen and (max-width: 35.9375rem) {
    .mini-cart .mini-cart-container[aria-hidden=false] .cart-summary {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }

    .mini-cart .mini-cart-container[aria-hidden=false] .cart-items {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    .mini-cart .mini-cart-container[aria-hidden=false] .subtotal {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }
}

/* Custom Styling */
.profile-menu.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
/* stylelint-enable selector-type-no-unknown, declaration-property-value-no-unknown, declaration-block-no-duplicate-properties, selector-pseudo-class-no-unknown, selector-pseudo-element-no-unknown, no-duplicate-selectors, selector-attribute-quotes, selector-pseudo-element-colon-notation, media-feature-range-notation */