@use "../../../site/scss/settings/mixins" as mix;
@use "../../../site/scss/settings/typography" as typo;
@use "../../../site/scss/settings/variables" as vars;

.help-me-choose-container {
  display: flex;
  flex-direction: column;
  @include mix.spacer("gap", 8);
  @include mix.p(16, "t");
  padding-bottom: 7.5rem;

  .text-container {
    max-width: 680px;
    margin: auto;
    text-align: center;
  }

  .panelcontainer {
    .game-form {
      display: flex;
      flex-direction: column;
      @include mix.spacer("gap", 8);

      .budget-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--color-primary-100);
        flex-wrap: wrap;
        border-radius: vars.$border-radius-xl;
        @include mix.p(9, "y");
        @include mix.p(10, "x");
        @include mix.spacer(gap, 4);

        .budget-left {
          color: var(--color-primary-950);
          min-width: 120px;
          @include typo.text-bolder();
        }

        .budget-center {
          display: flex;
          align-items: center;
          flex-grow: 1;
          flex-wrap: wrap;
          @include mix.spacer(gap, 6);

          .budget-value {
            border-radius: vars.$border-radius;
            width: 5rem;
            min-width: auto;
            text-align: center;
            border: 1px solid var(--color-primary-700);
            background-color: var(--color-primary-100);
            color: var(--color-primary-950);
            letter-spacing: 0.16px;
            @include mix.p(2, "y");
            @include mix.p(4, "x");
            @include typo.text-small();
            &:active,
            &:focus {
              border: 2px solid var(--color-focus-ring);
              outline: none;
            }
          }

          .budget-separator {
            display: none;
            align-self: center;
            text-align: center;
            font-weight: 500;
            color: var(--color-primary-700);
            @include typo.text-xsmall();
          }

          .budget-range-wrapper {
            position: relative;
            flex-grow: 1;

            .range-labels {
              display: flex;
              justify-content: space-between;
              position: absolute;
              width: 100%;
              color: var(--color-primary-700);
              @include typo.text-xsmall();
              @include mix.m(4, "t");
            }
          }
        }

        .budget-actions {
          display: flex;
          @include mix.spacer("gap", 6);

          .reset-button {
            display: inline-flex;
            align-items: center;
            background-color: var(--color-primary-100);
            color: var(--color-primary-950);
            border: none;
            cursor: pointer;
            @include mix.spacer("gap", 0);
            &::after {
              content: "";
              width: 20px;
              height: 20px;
              @include mix.m(1, "l");
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M9.16667 17.0255C7.60361 16.8224 6.31007 16.1339 5.28604 14.9599C4.26201 13.7857 3.75 12.4101 3.75 10.8332C3.75 9.98598 3.91722 9.17431 4.25167 8.3982C4.58611 7.62195 5.05458 6.94001 5.65708 6.35237L6.54813 7.24341C6.03632 7.71036 5.65035 8.2523 5.39021 8.86924C5.13007 9.48619 5 10.1408 5 10.8332C5 12.0554 5.39021 13.1326 6.17063 14.0649C6.95104 14.997 7.94972 15.5672 9.16667 15.7755V17.0255ZM10.8333 17.0415V15.7915C12.0364 15.5479 13.0316 14.9649 13.819 14.0424C14.6063 13.1199 15 12.0501 15 10.8332C15 9.44431 14.5139 8.26376 13.5417 7.29154C12.5694 6.31931 11.3889 5.8332 10 5.8332H9.70521L10.8302 6.9582L9.95188 7.83633L7.32375 5.2082L9.95188 2.58008L10.8302 3.4582L9.70521 4.5832H10C11.7436 4.5832 13.2212 5.18897 14.4327 6.40049C15.6442 7.61202 16.25 9.08959 16.25 10.8332C16.25 12.4015 15.7367 13.7701 14.71 14.939C13.6832 16.1078 12.391 16.8086 10.8333 17.0415Z' fill='%23999999'/%3E%3C/svg%3E");
              background-repeat: no-repeat;
              background-size: 20px 20px;
              background-position: center;
              pointer-events: none;
            }
            @include mix.p(2, "y");
            @include mix.p(2, "x");
            @include typo.text-cta();
          }

          button[type="submit"] {
            background-color: var(--color-primary-950);
            color: var(--color-primary-50);
            cursor: pointer;
            border: none;
            border-radius: vars.$border-radius;

            @include mix.p(2, "y");
            @include mix.p(4, "x");
            @include typo.text-cta();

            &:disabled {
              background-color: var(--color-primary-600);
              color: var(--color-primary-800);
              cursor: not-allowed;
            }
          }
        }
      }
    }
  }

  @include mix.respond-to("xl", "max") {
    @include mix.p(20, "b");
    @include mix.p(8, "t");

    .panelcontainer {
      .game-form {
        .layout-grid.layout-grid--cols-6 {
          gap: 1rem 0.5rem !important; // Row gap: 16px Col gap: 8px gap for tablet
        }

        .budget-bar {
          flex-direction: column;
          align-items: flex-start;
          @include mix.p(5, "y");
          @include mix.p(5, "x");
          @include mix.spacer(gap, 2);

          .budget-left {
            @include typo.text-bold();
          }

          .budget-center {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            width: 100%;
            @include mix.spacer(gap, 4);

            .budget-separator {
              display: block;
            }

            .budget-value {
              width: 100%;
              text-align: left;
              border-radius: vars.$border-radius;
              border: 1px solid var(--color-primary-700);
              color: var(--color-primary-950);
              @include typo.text-base();
              @include mix.p(1, "y");
              @include mix.p(3, "l");
            }

            .budget-range-wrapper {
              grid-column: 1 / -1;
              order: 2;
              position: relative;
              @include mix.m(4, "t");

              .range-labels {
                display: flex;
                justify-content: space-between;
                color: var(--color-primary-700);
                position: relative;
                @include typo.text-tiny();
              }
            }
          }

          .budget-actions {
            width: 100%;
            display: flex;
            justify-content: space-between;
            @include mix.spacer("gap", 0);
            @include mix.m(2, "t");

            .reset-button {
              margin-right: auto;
              line-height: 1.125rem !important;
              @include mix.p(0, "l");
              @include typo.text-small();
            }

            button[type="submit"] {
              margin-left: auto;
            }
          }
        }
      }
    }

    .text-container {
      max-width: 100vw;
      margin-left: 0;
      margin-right: auto;
      text-align: left;

      .section-heading {
        @include mix.m(5, "b");
      }

      .text-para {
        @include typo.text-bold();
      }
    }
  }

  @include mix.respond-to("lg", "max") {
    .panelcontainer {
      .game-form {
        .budget-bar {
          .budget-center {
            .budget-range-wrapper {
              @include mix.m(0, "t");
            }
          }
        }
      }
    }
  }
}

.perfect-match-products-container,
.scrollable-component {
  margin: auto;
  @include mix.respond-to("xl", "min") {
    max-width: 77.5rem;
  }
  @include mix.respond-to("md", "max") {
    max-width: 43rem;
  }
}
