.cmp-article-card {
    background: var(--color-primary-50);
    color: var(--color-primary-950);
    border-radius: 1rem;
    overflow: hidden;
    display: -webkit-box;
    display: flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    text-decoration: none;
    border: 1px solid var(--color-primary-600);
}

.cmp-article-card:hover {
    border-color: var(--color-primary-950);
}

.cmp-article-card:focus-visible {
    outline-offset: 1px;
}

.cmp-article-card__image {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    aspect-ratio: 16/9;
}

.cmp-article-card__image .cmp-image__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-fit: cover;
    display: block;
}

.cmp-article-card__content {
    padding: 2rem;
    gap: 0.75rem;
    display: -webkit-box;
    display: flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.cmp-article-card__date {
    font-family: var(--font-text);
    font-weight: var(--regular);
    letter-spacing: 0;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    letter-spacing: 0.24px;
    color: var(--color-primary-950);
}

.cmp-article-card__title {
    font-family: var(--font-display);
    font-weight: var(--medium);
    letter-spacing: 0;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--color-primary-950);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cmp-article-card__desc {
    color: var(--color-primary-700);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: var(--font-text);
    font-weight: var(--regular);
    letter-spacing: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.16px;
}

@media only screen and (width <= 63.9375rem) {
    .cmp-article-card__title {
        font-family: var(--font-display);
        font-weight: var(--medium);
        letter-spacing: 0;
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

.cmp-carousel__item:has(.cmp-article-card) {
    overflow: visible;
}

@media only screen and (width <= 47.9375rem) {
    .cmp-carousel__item:has(.cmp-article-card) {
        width: 320px;
    }
}

@media only screen and (width <= 35.9375rem) {
    .cmp-carousel__item:has(.cmp-article-card) {
        width: 280px;
    }
}
