<!-- Wrapper for header and mobile menu -->
<div class="header-wrapper">
  <!-- Header -->
  <header class="experiencefragment">
    <div class="cmp-experiencefragment">
      <div class="cmp-container cmp-header container">

        <!-- Logo navigation -->
        <div class="navigation">
          <nav class="cmp-navigation" itemscope itemtype="http://schema.org/SiteNavigationElement"
            aria-label="Main Navigation">
            <a href="./index.html" aria-label="Asus Logo" title="ASUS Logo" class="cmp-navigation__item--logo">
              <!-- ASUS Logo -->
              <div class="logo-item logo-item--asus">
                <div class="logo-wrapper">
                  <img src="./clientlib-site/images/logo-asus.svg" alt="ASUS Logo" class="logo-default" width="87" height="20" />
                </div>
              </div>
              <!-- ROG Logo -->
              <div class="logo-item logo-item--rog">
                <div class="logo-wrapper">
                  <img src="./clientlib-site/images/logo-rog.svg" alt="ROG Logo" class="logo-default" width="135" height="26" />
                </div>
              </div>
              <!-- Gaming PC Custom Builder -->
              <div title="Gaming PC Custom Builder" class="logo-item logo-item--gaming">
                <img src="./clientlib-site/images/gaming_pc_logo.svg" alt="Gaming PC Custom Builder Logo" width="104" height="22" />
              </div>
            </a>
          </nav>
        </div>

        <!-- Site navigation -->
        <div class="sitenavigation">
          <nav class="cmp-sitenavigation" aria-label="Site Navigation">
            <ul class="cmp-sitenavigation__group cmp-sitenavigation__group--main">
              <li class="cmp-sitenavigation__item cmp-sitenavigation__item--desktop">
                <a class="cmp-sitenavigation__item-link" href="./product-listing.html">All Desktops</a>
              </li>
              <li class="cmp-sitenavigation__item cmp-sitenavigation__item--help">
                <a class="cmp-sitenavigation__item-link" href="./help-me-choose.html">Help Me Choose</a>
              </li>
              <li class="cmp-sitenavigation__item cmp-sitenavigation__item--news">
                <a class="cmp-sitenavigation__item-link" href="./news-articles.html">News & Articles</a>
              </li>
            </ul>

            <!-- Icons -->
            <ul class="cmp-sitenavigation__group cmp-sitenavigation__group--icons">
              <li class="cmp-sitenavigation__item cmp-sitenavigation__item--search hidden">
                <a class="cmp-sitenavigation__item-link" href="/" aria-label="Search">
                  <span class="icon icon--search"></span>
                </a>
              </li>
              <li class="cmp-sitenavigation__item cmp-sitenavigation__item--cart">
                <div class="mini-cart">
                  <button 
                    class="cmp-sitenavigation__item-link mini-cart-toggle"
                    id="mini-cart-toggle"
                    aria-label="Shopping cart"
                    aria-haspopup="dialog"
                    aria-expanded="false"
                    aria-controls="mini-cart-container"
                  >
                    <span class="icon icon--cart"></span>
                  </button>
                  <div 
                    id="mini-cart-container"
                    class="mini-cart-container"
                    role="dialog" 
                    aria-modal="true" 
                    aria-labelledby="mini-cart-title" 
                    aria-hidden="true"
                  >
                    <button class="mini-cart__close" aria-label="Close mini cart"></button>
                    <h4 id="mini-cart-title" class="cart-summary"></h4>
                  </div>
                </div>
              </li>
              <li class="cmp-sitenavigation__item cmp-sitenavigation__item--profile">
                <div class="profile-dropdown">
                  <!-- Dev Note: Based on the logged-in class the green dot will be visible on the profile icon -->
                  <button class="cmp-sitenavigation__item-link profile-toggle logged-in" aria-label="Member Account" aria-expanded="false">
                    <span class="icon icon--profile"></span>
                  </button>
                  <ul class="profile-menu">
                    <li class="profile-menu__header">
                      <button class="profile-menu__close" aria-label="Close profile menu">
                      </button>
                    </li>
                    <li class="profile-menu__item"><a href="#">Login</a></li>
                    <li class="profile-menu__item"><a href="#">My Account</a></li>
                    <li class="profile-menu__item"><a href="#">Product Registration</a></li>
                    <li class="profile-menu__item"><a href="#">Check My Order</a></li>
                    <li class="profile-menu__item"><a href="#">My Wishlist</a></li>
                    <li class="profile-menu__item"><a href="#">Sign out</a></li>
                  </ul>
                </div>
              </li>
              <li class="cmp-sitenavigation__item cmp-sitenavigation__item--menu-toggle">
                <button id="header-hamburger-menu-toggle" class="btn btn-link" aria-label="Toggle Menu">
                  <span class="icon icon--hamburger"></span>
                  <span class="icon icon--close"></span>
                </button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <!-- Mobile menu -->
  <div class="mobile-menu-overlay" id="mobile-menu-dialog" aria-labelledby="mobile-menu-title" aria-hidden="true" data-a11y-dialog-native>
    <div class="mobile-menu-container">
      <div id="mobile-menu-title" class="sr-only">Mobile Navigation Menu</div>
      <ul class="mobile-menu">
        <li><a href="./product-listing.html" class="px-6">All Desktops</a></li>
        <li><a href="./help-me-choose.html" class="px-6">Help Me Choose</a></li>
        <li><a href="./news-articles.html" class="px-6">News & Articles</a></li>

        <!-- Search -->
        <li class="px-6 hidden">
          <div class="mobile-search">
            <span class="icon icon--search"></span>
            <input type="text" placeholder="Enter keywords" title="Enter keywords"/>
          </div>
        </li>

        <!-- Account -->
        <li class="mobile-account-section">
          <button class="mobile-account-toggle px-6 d-flex-align mobile-account-link" aria-expanded="false">
            <span class="icon icon--profile"></span>
            <span class="profile">My Account</span>
            <span class="icon icon--arrow-right arrow-icon"></span>
          </button>
          <div class="mobile-account-submenu">
            <div class="submenu-header">
              <button class="back-button" aria-label="Back">
                <span class="icon icon--arrow-left"></span>
                <span class="submenu-title">My Account</span>
              </button>
            </div>
            <ul class="submenu-items">
              <li><a href="#">Login</a></li>
              <li><a href="#">My Account</a></li>
              <li><a href="#">Product Registration</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>