.featured-product-card {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: var(--color-primary-50);
  border-radius: 1rem;
  color: var(--color-primary-950);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  padding: 2rem;
}

.featured-product-card .product-image-wrapper {
  width: 120px;
  height: auto;
  border-radius: 0.375rem;
  position: relative;
}

.featured-product-card .product-image-wrapper .product-image {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: contain;
  object-fit: contain;
  position: relative;
  z-index: 1;
}

.featured-product-card .product-image-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--gradient-product-card);
  border-radius: 100%;
  -webkit-filter: blur(32px);
  filter: blur(32px);
}

.featured-product-card .product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: center;
  align-self: center;
  height: 100%;
  padding-left: 2.5rem;
  gap: 0.25rem;
}

.featured-product-card .product-info .label {
  color: var(--color-primary-950);
  font-family: var(--font-text);
  font-weight: var(--regular);
  letter-spacing: 0;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: 0.24px;
}

.featured-product-card .product-info .title {
  margin-bottom: 3rem;
  font-family: var(--font-display);
  font-weight: var(--medium);
  letter-spacing: 0;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.featured-product-card .product-info .cta-wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.featured-product-card .product-info .cta {
  color: var(--color-primary-950);
  text-decoration: none;
  font-family: var(--font-text);
  font-weight: var(--regular);
  letter-spacing: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  gap: 0.25rem;
}

.featured-product-card .product-info .cta .icon {
  width: 12px;
  height: 12px;
}

.featured-product-card .product-info .cta:hover {
  color: var(--btn-link-hover-color);
  text-decoration: underline;
}

@media only screen and (max-width: 63.9375rem) {
  .featured-product-card {
    padding: 1.25rem;
  }

  .featured-product-card .product-image-wrapper {
    width: 84px;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .featured-product-card .product-info {
    padding-left: 1rem;
  }

  .featured-product-card .product-info .label {
    font-family: var(--font-text);
    font-weight: var(--regular);
    letter-spacing: 0;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    letter-spacing: 0.24px;
  }

  .featured-product-card .product-info .title {
    font-family: var(--font-display);
    font-weight: var(--medium);
    letter-spacing: 0;
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
}
