<div
  class="dialog-container cmp-product-preview light-mode"
  data-a11y-dialog="product-preview-dialog"
  id="product-preview-dialog"
  aria-hidden="true"
>
  <div
    class="dialog-content"
    role="dialog"
    aria-modal="true"
  ></div>
</div>
