/* stylelint-disable declaration-property-value-no-unknown, declaration-block-no-duplicate-properties, rule-empty-line-before, no-duplicate-selectors, value-no-vendor-prefix, property-no-vendor-prefix, selector-pseudo-element-colon-notation, media-feature-range-notation, comment-empty-line-before, selector-attribute-quotes, declaration-empty-line-before, length-zero-no-unit, color-function-alias-notation */

.cmp-tabs__tablist {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1.5rem;
}

.cmp-tabs__tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    border-bottom: 4px solid transparent;
    color: var(--color-primary-600);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1.25rem;
    font-family: var(--font-display);
    font-weight: var(--medium);
    letter-spacing: 0;
    font-size: 1rem;
    line-height: 1.5rem;
}

.cmp-tabs__tab--active,
.cmp-tabs__tab:hover {
    border-color: var(--ui-primary-950);
    color: var(--ui-primary-950);
}

.cmp-tabs__tabpanel {
    display: none;
    margin-top: 3rem;
}

.cmp-tabs__tabpanel--active {
    display: block;
}

.cmp-tabs[data-style=solid] {
    background-color: var(--color-primary-900);
    color: var(--color-primary);
    padding: 2rem;
}

.cmp-tabs[data-style=solid] .cmp-tabs__tablist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
    gap: 2px;
    padding: 2px;
    border-radius: 8px;
    background-color: var(--color-primary-100);
}

.cmp-tabs[data-style=solid] .cmp-tabs__tab {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: 0;
    border-radius: 6px;
    color: var(--color-primary-950);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: var(--font-text);
    font-weight: var(--regular);
    letter-spacing: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.16px;
}

.cmp-tabs[data-style=solid] .cmp-tabs__tab--active,
.cmp-tabs[data-style=solid] .cmp-tabs__tab:hover {
    background-color: var(--color-primary-950);
    color: var(--color-primary-100);
}

.cmp-tabs[data-style=solid] .cmp-tabs__tab:focus-visible {
    outline-offset: 3px;
}
/* stylelint-enable declaration-property-value-no-unknown, declaration-block-no-duplicate-properties, rule-empty-line-before, no-duplicate-selectors, value-no-vendor-prefix, property-no-vendor-prefix, selector-pseudo-element-colon-notation, media-feature-range-notation, comment-empty-line-before, selector-attribute-quotes, declaration-empty-line-before, length-zero-no-unit, color-function-alias-notation */
