@use "../../../site/scss/settings/typography" as typo;
@use "../../../site/scss/settings/variables" as vars;
@use "../../../site/scss/settings/mixins" as mix;

.cmp-article-listing-page{
  @include mix.p(16, 't');
  @include mix.p(32, 'b');
  &__wrapper{
    display: flex;
    flex-direction: column;
    @include mix.spacer("gap", 8);
    .section-heading{
      justify-content: center;
      text-align: center;
    }
    .cmp-articles-list{
      .cmp-article-card{
        height: 100%;
      }
    }
    .cmp-articles-list__actions{
      text-align: center;
    }
  }
  @include mix.respond-to("xl", "max"){
    @include mix.p(10, 't');
    padding-bottom: 5.25rem;
    .cmp-articles-list{
      @include mix.spacer("gap", 2);
    }
  }
  @include mix.respond-to("tab", "max"){
    @include mix.p(8, 't');
    @include mix.p(20, 'b');
    &__wrapper{
      @include mix.spacer("gap", 5);
    }
    .section-heading{
      justify-content: flex-start;
      text-align: left;
    }
    .layout-grid__col--tab-span-12{
      grid-column: span 12;  
    }
  }
}

.cmp-articles-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* articles count */
  .cmp-articles-count {
    color: var(--color-primary-950);
    @include typo.text-small();
  }
    
  &__sort-wrapper {
    display: flex;
    align-items: center;
    text-align: left;
    @include mix.spacer("gap", 2);
      
    .cmp-articles-sort-label {
      color: var(--color-primary-700);
      white-space: nowrap;
      flex-shrink: 0;
      @include typo.text-small();
      @include mix.m(0, "b");
    }
      
    /* Select box + filter button */
    .cmp-articles-sort {
      display: flex;
      width: 100%;
      @include mix.spacer("gap", 2);
        
      .cmp-articles-filter-trigger {
        display: none;
        flex: 0 0 auto;
        border-radius: vars.$border-radius;
        cursor: pointer;
        color: var(--color-primary-100);
        @include mix.p(2, "y");
        @include mix.p(4, "x");
        @include typo.text-cta();
      }
    }
  }
    
  @include mix.respond-to("tab", "max") {
    flex-direction: column-reverse;
    align-items: flex-start;
    @include mix.spacer("gap", 5);
      
    &__sort-wrapper {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      @include mix.spacer("gap", 1);
      .cmp-articles-sort-label {
        @include mix.m(2, "r");
      }
      .cmp-articles-sort {
        .choices {
          flex: 1;
        }
          
        .cmp-articles-filter-trigger {
          display: block;
        }
      }
    }
  }
}

.cmp-news-articles__additional-articles {
  transition: opacity 0.3s ease;

  &[aria-hidden="true"] {
    display: none;
  }
}
