@use "../../../../site/scss/settings/typography" as typo;
@use "../../../../site/scss/settings/variables" as vars;
@use "../../../../site/scss/settings/mixins" as mix;

.cmp-pdp-notifications-container {
  .cmp-pdp-notifications {
    padding: 1.5rem;
    border-radius: 5px;
    &__header {
      .icon {
        vertical-align: middle;
      }
    }
    &__title {
      @include typo.text-base;
      @include mix.m(2, "l");
      font-weight: var(--medium);
    }
    &__subtitle {
      @include typo.text-small;
      @include mix.m(1, "t");
      .icon {
        vertical-align: text-top;
      }
    }
    &__actions {
      @include mix.m(2, "t");
      padding: 1rem;
      border-radius: 5px;
    }
  }
  .warning {
    background-color: #665400;
    color: #fff;
  }
  .dialog-container .dialog-content {
    background-color: var(--color-primary-50);
    color: var(--color-primary-950);
    .specification-table {
      .headings {
        display: flex;
        justify-content: space-between;
        @include mix.p(4, "b");
        @include mix.p(8, "t");
        border-bottom: 1px solid var(--color-primary-950);
      }
      .specification-table-content {
        display: flex;
        justify-content: space-between;
        @include mix.p(4, "b");

        &__item {
          flex-basis: 50%;
          max-width: 200px;
          word-break: break-word;
          display: flex;
          @include mix.spacer("gap", 2);
        }
      }
      .specification-table-content-section {
        @include mix.p(4, "t");
      }
      .specification-table-content-section:not(:last-child) {
        border-bottom: 1px solid var(--color-primary-300);
      }
      .specification-table-content__item--new {
        flex-basis: 50%;
        max-width: 300px;
        word-break: break-word;
        display: flex;
        @include mix.spacer("gap", 2);
        .icon {
          width: 14px;
          height: 14px;
        }
      }
    }
    .specification-info-footer {
      .price {
        display: flex;
        justify-content: space-between;
        @include mix.m(6, "b");
        border-top: 1px solid var(--color-primary-950);
        @include mix.p(4, "t");
      }
      .actions {
        text-align: center;
        .cancel-btn {
          @include mix.m(2, "r");
          background: none;
          border: 1px solid var(--color-primary-950);
          color: var(--color-primary-950);
        }
      }
    }
  }
}

@include mix.respond-to("md", "max") {
  .cmp-pdp-notifications-container {
    .dialog-container .dialog-content {
      background-color: var(--color-primary-50);
      color: var(--color-primary-950);
      width: 100%;

      .specification-table {
        height: 200px;
        overflow: scroll;
        @include mix.p(6, "t");
        .headings {
          .current-spec {
            display: none;
          }
        }
        .specification-table-content {
          display: flex;
          justify-content: space-between;
          @include mix.p(4, "b");

          &__item {
            flex-basis: 100%;
            max-width: auto;
            word-break: break-word;
            display: none;
          }
        }
        .specification-table-content-section:not(:last-child) {
          border-bottom: 1px solid var(--color-primary-300);
        }
        .specification-table-content__item--new {
          flex-basis: 100%;
          max-width: auto;
          span {
            display: none;
          }
        }
      }
      .specification-info-footer {
        .price {
          display: flex;
          justify-content: space-between;
          @include mix.m(6, "b");
          border-top: 1px solid var(--color-primary-950);
          @include mix.p(4, "t");
        }
        .actions {
          display: flex;
          flex-direction: column;
          @include mix.spacer("gap", 2);
          @include mix.m(2, "t");
          .cancel-btn {
            order: 1;
          }
        }
      }
    }
  }
}
