@use "../../../../site/scss/settings/typography" as typo;
@use "../../../../site/scss/settings/variables" as vars;
@use "../../../../site/scss/settings/mixins" as mix;

.cmp-product-overview {
  background: var(--color-primary-950);

  .product-overview__card {
    @include mix.spacer(gap, 5);
    @include mix.p(16, "y");
  }

  .product-overview__image-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
    flex-wrap: wrap;
    @include mix.p(12, "r");

    .product-gallery__main-carousel[data-show-image-gallery-modal="true"] {
      cursor: pointer;
    }

    .product-gallery__thumbs-carousel-wrapper {
      position: relative;
      @include mix.p(9, "x");

      .carousel__actions {
        .carousel__action {
          .icon {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
  }

  .product-overview__info-section {
    @include mix.p(8, "t");
  }

  // Hide mobile game-fps section on desktop
  .game-fps-mobile-section {
    display: none;
  }

  .product-overview__info-section--benefits {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include mix.spacer(column-gap, 5);
    @include mix.spacer(row-gap, 6);

    .product-benefit {
      display: flex;
      align-items: flex-start;
      @include mix.spacer(gap, 3);

      .benefit-icon {
        flex-shrink: 0;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: start;
        justify-content: center;

        img {
          object-fit: contain;
          object-position: center top;
          height: 100%;
          width: 100%;
        }
      }

      .benefit-content {
        // This is required to align the content with image top
        margin-top: -5px;
      }

      .benefit-title {
        color: var(--color-primary-100);
        margin-bottom: 2px; // TODO: Check with UI team if we can keep it multiples of 4
        @include typo.pdp-features-text();
      }

      .benefit-description {
        color: var(--color-primary-300);
        @include typo.text-small;
      }
    }
  }

  .availability-tags {
    display: flex;
    align-items: center;
    @include mix.spacer("gap", 2);

    .tag {
      color: var(--color-primary-100);
      @include typo.text-xsmall();

      &.in-stock {
        font-weight: 500;
        color: var(--color-border-type);
      }
    }

    .vertical-divider {
      width: 1px;
      height: 12px;
      background-color: var(--color-primary-700);
    }
  }

  .product-title {
    color: var(--color-primary-100);
    @include typo.text-display2();
    @include mix.m(1, "b");
  }

  .product-model {
    color: var(--color-primary-300);
    @include typo.text-small();
  }

  .star-rating-wrapper {
    @include mix.m(3, "t");
  }

  .game-title {
    display: flex;
    color: var(--color-primary-100);
    align-items: center;
    @include typo.pdp-font();
    @include mix.spacer("gap", 2);
    @include mix.m(3, "t");

    .badge {
      display: inline-flex;
      padding: 1px 12px;
      justify-content: center;
      align-items: center;
      color: var(--color-primary-100);
      border-radius: vars.$border-radius;
      border: 1px solid var(--color-primary-400);
      text-decoration: none;
    }
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: var(--color-primary-700);
    @include mix.m(8, "y");
  }

  .features {
    @include mix.m(3, "t");
    @include mix.p(4, "l");

    li {
      @include typo.text-small();
      color: var(--color-primary-300);
      @include mix.m(4, "t");

      strong {
        @include typo.pdp-features-text();
        color: var(--color-primary-100);
      }
    }
  }

  .spec-summary {
    &__heading {
      color: var(--color-primary-100);
      @include typo.text-bold();
      @include mix.m(3, "b");
    }

    &__list {
      color: var(--color-primary-300);
      @include typo.text-small();
      @include mix.p(4, "l");
    }
  }

  //mobile specific styles
  @include mix.respond-to("md", "max") {
    .product-overview__card {
      @include mix.p(8, "t");
      @include mix.p(5, "b");
    }

    .product-overview__info-section {
      @include mix.p(3, "t");
    }

    .divider {
      @include mix.m(4, "t");
      @include mix.m(4, "b");
    }

    .product-overview__image-section {
      @include mix.p(0);

      // Hide original game-fps in image section on mobile
      .fps-section {
        display: none;
      }
    }

    // Show game-fps section after benefits on mobile
    .game-fps-mobile-section {
      display: block;
      @include mix.m(4, "t");

      .fps-section {
        @include mix.m(0);

        .fps-title {
          @include typo.text-display5;
        }

        .fps-tabs-wrapper {
          .fps-scores {
            .fps-item span {
              width: 24px;
              word-break: break-all;
              @include typo.text-xsmall;
            }
          }
        }

        .time-spy-score {
          .time-spy-score-right {
            align-items: flex-start;
          }
        }
      }
    }

    .tag {
      @include typo.text-small;
    }

    .product-title {
      @include typo.text-display3;
    }

    .product-overview__info-section--benefits {
      @include mix.spacer(column-gap, 2);
      @include mix.spacer(row-gap, 4);

      .product-benefit {
        flex-direction: column;
        @include mix.spacer(gap, 1);
      }

      .benefit-title {
        @include mix.m(1, "b");
      }
    }
  }
}

.product-gallery .product-gallery__main-carousel {
  aspect-ratio: unset;
}

.product-gallery .product-gallery-swiper .swiper-slide {
  @include mix.p(6, "r");
}
