<section
  class="dialog-container dialog--boxed cmp-fps-dialog"
  data-a11y-dialog="memory-info-dialog"
  id="memory-info-dialog"
  aria-hidden="true"
>
  <div class="dialog-overlay" data-a11y-dialog-hide="memory-info-dialog"></div>
  <div aria-label="memoryInfoTitle" class="dialog-content" role="dialog" aria-modal="true">
    <button   
      class="dialog-close"
      type="button"
      data-a11y-dialog-hide="memory-info-dialog"
      aria-label="Close dialog"
    ></button>

    <div class="fps-content">
      <h2 aria-label="memoryInfoTitle" class="dialog-title">Memory</h2>
    </div>
  </div>
</section>