<section
  class="dialog-container dialog--boxed cmp-processor-dialog"
  data-a11y-dialog="operating-system-info-dialog"
  id="operating-system-info-dialog"
  aria-hidden="true"
>
  <div class="dialog-overlay" data-a11y-dialog-hide="operating-system-info-dialog"></div>
  <div aria-label="operatingSystemInfoTitle" class="dialog-content" role="dialog" aria-modal="true" >
    <button
      class="dialog-close"
      type="button"
      data-a11y-dialog-hide="operating-system-info-dialog"
      aria-label="Close dialog"
    ></button>

    <div class="fps-content">
      <h2 aria-label="operatingSystemInfoTitle" class="dialog-title">Operating system</h2>
    </div>
  </div>
</section>