<section
  class="dialog-container dialog--boxed cmp-processor-dialog"
  data-a11y-dialog="processor-cooler-info-dialog"
  id="processor-cooler-info-dialog"
  aria-hidden="true"
>
  <div class="dialog-overlay" data-a11y-dialog-hide="processor-cooler-info-dialog"></div>
  <div aria-label="processorCoolerInfoTitle" class="dialog-content" role="dialog" aria-modal="true">
    <button
      class="dialog-close"
      type="button"
      data-a11y-dialog-hide="processor-cooler-info-dialog"
      aria-label="Close dialog"
    ></button>

    <div class="fps-content">
      <h2 aria-label="processorCoolerInfoTitle" class="dialog-title">Processor cooler</h2>
    </div>
  </div>
</section>