<div class="cmp-pdp-notifications-container">
   <div class="cmp-pdp-notifications warning">
      <p><img src="./clientlib-site/images/info-filled.webp" alt="notification-info"><span class="cmp-pdp-notifications__title">Spec Adjustment</span></p>
      <p class="cmp-pdp-notifications__subtitle">Choosing this option may modify other specs, impacting price/discounts</p>
   </div>
   <div class="cmp-pdp-notifications__actions warning">
      <p class="cmp-pdp-notifications__subtitle"> Click <img src="./clientlib-site/images/info-filled.webp" alt="notification-info" data-a11y-dialog-show="specifications-info-dialog"> icon anytime to review this note again</p>
   </div>
   <%- include('../customization-dialogs/_specifiations-info.ejs') %>
</div>
