.cmp-product-preview {
    background: var(--color-primary-base);
    inset: 0;
    overflow-y: auto;
    padding: 0;
    position: fixed;
    z-index: 9
}

.cmp-product-preview__topbar {
    background-color: var(--color-primary-900);
    border-bottom: 1px solid var(--color-primary-800);
    padding-bottom: 1.25rem;
    padding-top: 1.25rem
}

.cmp-product-preview__topbar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media (max-width: 768px) {
    .cmp-product-preview__topbar {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        gap: 1rem
    }
}

.cmp-product-preview__topbar-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: .25rem
}

.cmp-product-preview__topbar-left p {
    color: var(--color-primary-300);
    font-family: var(--font-text);
    font-size: .8125rem;
    font-weight: var(--regular);
    letter-spacing: 0;
    letter-spacing: .24px;
    line-height: 1.125rem
}

.cmp-product-preview__topbar-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1.5rem
}

@media (max-width: 768px) {
    .cmp-product-preview__topbar-right {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }
}

.cmp-product-preview__price-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    gap: .25rem
}

.cmp-product-preview__price-group .cmp-product-preview__price-final {
    color: #d12a00;
    font-family: var(--font-text);
    font-size: 1.25rem;
    font-weight: var(--regular);
    font-weight: var(--medium);
    letter-spacing: 0;
    line-height: 1.75rem
}

.cmp-product-preview__price-group .cmp-product-preview__price-meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: var(--font-text);
    font-size: .8125rem;
    font-weight: var(--regular);
    gap: .25rem;
    letter-spacing: 0;
    letter-spacing: .24px;
    line-height: 1.125rem
}

.cmp-product-preview__price-group .cmp-product-preview__price-meta .cmp-product-preview__price-old {
    color: var(--color-primary-100);
    text-decoration: line-through
}

.cmp-product-preview__price-group .cmp-product-preview__price-meta .cmp-product-preview__price-save {
    color: #d12a00;
    font-weight: 600
}

.cmp-product-preview__price-group .cmp-product-preview__installment {
    color: var(--color-primary-100);
    font-family: var(--font-text);
    font-size: .8125rem;
    font-weight: var(--regular);
    letter-spacing: 0;
    letter-spacing: .24px;
    line-height: 1.125rem
}

.cmp-product-preview__price-group .cmp-product-preview__installment img {
    height: 12px;
    margin: 0 4px;
    vertical-align: middle
}

.cmp-product-preview__action-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: .75rem
}

.cmp-product-preview__body {
    background: var(--color-primary-base);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 6rem;
    padding: 1.25rem 2rem
}

.cmp-product-preview .product-preview-card {
    background: var(--color-primary-950);
    border-radius: 1rem;
    display: grid;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    grid-template-columns: 472px 1fr;
    max-width: 1032px;
    position: relative;
    width: 100%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 1.25rem;
    padding: 3rem
}

.cmp-product-preview .product-preview-card .close-icon {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='none' viewBox='0 0 32 32'%3E%3Cpath stroke='%234d4d4d' stroke-linecap='round' stroke-width='1.5' d='M25 7 7 25M7 7l18 18'/%3E%3C/svg%3E") 50%/contain no-repeat;
    border: none;
    cursor: pointer;
    height: 32px;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 32px
}

.cmp-product-preview .star-rating-wrapper {
    display: inline-block
}

.cmp-product-preview .product-preview-image-section {
    -webkit-box-flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%
}

.cmp-product-preview .dialog-content {
    background-color: transparent;
    min-height: auto;
    padding: 0
}

.product-preview__overview-section {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: var(--color-primary-100);
}

.product-preview__overview-section .availability-tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.5rem;
}

.product-preview__overview-section .availability-tags .tag {
    font-family: var(--font-text);
    font-weight: var(--regular);
    letter-spacing: 0;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    letter-spacing: 0.24px;
}

.product-preview__overview-section .availability-tags .tag.in-stock {
    font-weight: 500;
    color: var(--color-border-type);
}

.product-preview__overview-section .availability-tags .vertical-divider {
    width: 1px;
    height: 12px;
    background-color: var(--color-primary-700);
}

.product-preview__overview-section .product-title {
    color: var(--color-primary-100);
    font-family: var(--font-display);
    font-weight: var(--medium);
    letter-spacing: 0;
    font-size: 2.75rem;
    line-height: 3.25rem;
    margin-bottom: 0.25rem;
}

.product-preview__overview-section .product-model {
    color: var(--color-primary-300);
    font-family: var(--font-text);
    font-weight: var(--regular);
    letter-spacing: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.16px;
}

.product-preview__overview-section .game-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: var(--color-primary-100);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: var(--font-text);
    font-weight: var(--regular);
    letter-spacing: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.16px;
    gap: 0.5rem;
    margin-top: 0.75rem;
}

.product-preview__overview-section .game-title .badge {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 1px 12px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--color-primary-100);
    border-radius: 0.5rem;
    border: 1px solid var(--color-primary-400);
    text-decoration: none;
}

.product-preview__overview-section .compare-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--color-primary-100);
    font-family: var(--font-text);
    font-weight: var(--regular);
    letter-spacing: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.16px;
    margin-top: 0.75rem;
    gap: 0.5rem;
}

.product-preview__overview-section .divider {
    width: 100%;
    height: 1px;
    background-color: var(--color-primary-700);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.product-preview__overview-section .features {
    margin-top: 0.75rem;
    padding-left: 1rem;
}

.product-preview__overview-section .features li {
    font-family: var(--font-text);
    font-weight: var(--regular);
    letter-spacing: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.16px;
    color: var(--color-primary-300);
    margin-top: 1rem;
}

.product-preview__overview-section .features li strong {
    font-family: var(--font-text);
    font-weight: var(--regular);
    letter-spacing: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: var(--medium);
    color: var(--color-primary-100);
}

.product-preview__overview-section .spec-summary__heading {
    color: var(--color-primary-100);
    font-family: var(--font-text);
    font-weight: var(--regular);
    letter-spacing: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: var(--medium);
    margin-bottom: 0.75rem;
}

.product-preview__overview-section .spec-summary__list {
    color: var(--color-primary-300);
    font-family: var(--font-text);
    font-weight: var(--regular);
    letter-spacing: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.16px;
    padding-left: 1rem;
}

.fps-section {
    background: var(--color-primary-900);
    border-radius: 1rem;
    width: 100%;
    padding: 2rem;
    margin-top: 2.5rem;
}

.fps-section .fps-header-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1rem;
}

.fps-section .fps-header-row .fps-title {
    color: var(--color-primary-100);
    font-family: var(--font-display);
    font-weight: var(--medium);
    letter-spacing: 0;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.fps-section .fps-header-row .fps-info-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.5rem;
}

.fps-section .fps-header-row .fps-info-group .fps-info {
    color: var(--color-info);
    cursor: pointer;
    text-decoration: none;
    border: none;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: var(--font-text);
    font-weight: var(--regular);
    letter-spacing: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.16px;
    gap: 0.25rem;
}

.fps-section .fps-tabs-wrapper {
    margin-top: 1rem;
}

.fps-section .fps-tabs-wrapper .cmp-tabs[data-style=solid] {
    padding: 0;
}

.fps-section .fps-tabs-wrapper .cmp-tabs__tabpanel {
    margin-top: 0;
}

.fps-section .fps-tabs-wrapper .fps-scores {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.25rem;
    margin-top: 1rem;
}

.fps-section .fps-tabs-wrapper .fps-scores .fps-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.fps-section .fps-tabs-wrapper .fps-scores .fps-item img {
    max-width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.fps-section .fps-tabs-wrapper .fps-scores .fps-item span {
    color: var(--color-primary-200);
    font-family: var(--font-text);
    font-weight: var(--regular);
    letter-spacing: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.16px;
}

.fps-section .fps-tabs-wrapper .fps-scores-empty {
    color: var(--color-primary-400);
    text-align: center;
    padding: 2rem;
    font-family: var(--font-text);
    font-weight: var(--regular);
    letter-spacing: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.16px;
}

.fps-section .time-spy-score {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 2rem;
}

.fps-section .time-spy-score .time-spy-score-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0.25rem;
}

.fps-section .time-spy-score .time-spy-score-left .time-spy-score-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.25rem;
}

.fps-section .time-spy-score .time-spy-score-left .time-spy-score-label .label {
    color: var(--color-primary-100);
    font-family: var(--font-text);
    font-weight: var(--regular);
    letter-spacing: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.16px;
    line-height: 1;
}

.fps-section .time-spy-score .time-spy-score-left .time-spy-score-label .time-spy-score-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    text-align: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.fps-section .time-spy-score .time-spy-score-left .time-spy-score-label .time-spy-score-btn,
.fps-section .time-spy-score .time-spy-score-left .time-spy-score-label .time-spy-score-btn .icon {
    color: var(--color-info);
}

.fps-section .time-spy-score .time-spy-score-left .score {
    color: var(--color-primary-100);
    font-family: var(--font-display);
    font-weight: var(--medium);
    letter-spacing: 0;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.fps-section .time-spy-score .time-spy-score-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.fps-section .time-spy-score .time-spy-score-right .data-from {
    color: var(--color-primary-300);
    font-family: var(--font-text);
    font-weight: var(--regular);
    letter-spacing: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.16px;
}

.fps-section .time-spy-score .time-spy-score-right .data-source {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.25rem;
}

.fps-section .time-spy-score .time-spy-score-right .data-source img {
    height: 28px;
    -o-object-fit: contain;
    object-fit: contain;
}

.fps-section .time-spy-score .time-spy-score-right .data-source button {
    color: var(--color-primary);
}

@media only screen and (max-width: 47.9375rem) {
    .fps-section {
        padding: 1.25rem;
    }
}

.product-gallery {
    position: relative;
    width: 100%;
}

.product-gallery .product-gallery__main-carousel {
    aspect-ratio: 1/1;
    margin-bottom: 16px;
}

.product-gallery .product-gallery__main-carousel .carousel__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.product-gallery .product-gallery__main-carousel .carousel__item img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    max-height: 500px;
}

.product-gallery .product-gallery__thumbs-carousel-wrapper {
    position: relative;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
}

.product-gallery .product-gallery__thumbs-carousel-wrapper .carousel__actions {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    pointer-events: none;
    z-index: 10;
}

.product-gallery .product-gallery__thumbs-carousel-wrapper .carousel__actions .carousel__action {
    pointer-events: all;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    background: transparent;
}

.product-gallery .product-gallery__thumbs-carousel-wrapper .carousel__actions .carousel__action--disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.product-gallery .product-gallery__thumbs-carousel-wrapper .carousel__actions .carousel__action .icon {
    width: 16px;
    height: 16px;
}

.product-gallery .product-gallery__thumbs-carousel-wrapper .carousel__actions .carousel__action .icon--arrow-left,
.product-gallery .product-gallery__thumbs-carousel-wrapper .carousel__actions .carousel__action .icon--arrow-right {
    color: #818181;
}

.product-gallery .product-gallery__thumbs-carousel-wrapper .carousel__actions--previous {
    margin-left: 0;
}

.product-gallery .product-gallery__thumbs-carousel-wrapper .carousel__actions--next {
    margin-right: 0;
}

.product-gallery .product-gallery__thumbs-carousel {
    position: unset;
}

.product-gallery .product-gallery__thumbs-carousel .carousel__item {
    border-radius: 0.5rem;
    cursor: pointer;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 75px;
    aspect-ratio: 1/1;
    border: 1px solid transparent;
    overflow: hidden;
}

.product-gallery .product-gallery__thumbs-carousel .carousel__item:hover:not(.swiper-slide-thumb-active) {
    opacity: 0.8;
}

.product-gallery .product-gallery__thumbs-carousel .carousel__item--active {
    opacity: 1;
    border-color: var(--color-primary-100);
}

.product-gallery .product-gallery__thumbs-carousel .carousel__item img {
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    backdrop-filter: blur(20px);
}

@media only screen and (max-width: 47.9375rem) {
    .product-gallery .product-gallery__thumbs-carousel-wrapper {
        overflow: visible;
        padding: 0;
    }

    .product-gallery .product-gallery__thumbs-carousel-wrapper .carousel__actions {
        left: -24px;
        right: -24px;
    }

    .product-gallery .product-gallery__thumbs-carousel .carousel__item {
        width: 60px;
    }
}