@use "../../../../site/scss/settings/typography" as typo;
@use "../../../../site/scss/settings/variables" as vars;
@use "../../../../site/scss/settings/mixins" as mix;

.cmp-related-product-card-wrapper {
  display: flex;
  justify-content: space-between;
  @include mix.spacer(gap, 5);
}
.cmp-related-products {
  background: var(--color-primary-50);
  color: var(--color-primary-950);
  border-radius: vars.$border-radius-xl;
  display: flex;
  flex-direction: column;
  @include mix.p(8);
  @include mix.spacer(gap, 5);

  &__body {
    display: flex;
    flex-direction: column;
    @include mix.spacer(gap, 5);
  }

  &__image {
    position: relative;
    max-width: 200px;
    margin: 0 auto;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--gradient-product-card);
      border-radius: 100%;
      filter: blur(32px);
    }

    .cmp-image__image {
      width: 100%;
      position: relative;
      z-index: 1;
      border-radius: vars.$border-radius;
      transition: opacity 0.3s ease;

      &--hover {
        display: none;
        position: absolute;
        inset: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    &:has(.cmp-image__image--hover):hover {
      .cmp-image__image {
        opacity: 0;

        &--hover {
          display: block;
        }
      }
    }
  }

  &__title {
    color: var(--color-primary-950);
    @include typo.text-display4();
    min-height: 50px;
    max-width: 200px;
    word-break: break-word;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__rating_and_compare {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mix.spacer(gap, 2);
  }

  &__price-block {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    @include mix.spacer(gap, 2);
    border-bottom: 1px solid var(--color-primary-300);
    border-top: 1px solid var(--color-primary-300);
    @include mix.p(3, "y");
    min-height: 85px;
  }

  &__price {
    color: #c74200;
    @include typo.text-bolder();
    font-family: var(--font-display);
  }

  &__original-price {
    text-decoration: line-through;
    color: var(--color-primary-700);
    @include typo.text-small();
    font-family: var(--font-display-regular);
  }

  &__discount {
    color: #c74200;
    @include typo.text-small();
    font-family: var(--font-display-regular);
  }

  &:has(.cmp-product-card__original-price) {
    .cmp-product-card__price {
      color: #c74200;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include mix.spacer(gap, 3);
    &__actions {
      display: flex;
      align-items: center;
    }

    .save-icon {
      background: none;
      border: none;
      cursor: pointer;
      vertical-align: middle;
      @include mix.m(4, "l");
    }
    .learn-more {
      background: none;
      color: var(--color-primary-950);
      border: 2px solid var(--color-primary-950);
      width: 100%;
      @include mix.p(2);
      height: 40px;
    }
    .btn {
      flex: 1;
      min-width: 150px;
    }
  }

  &__preview-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-primary-100);
    color: var(--color-primary-950);
    border: 1px solid var(--color-primary-700);
    border-radius: vars.$border-radius;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease;
    @include typo.text-small();
    @include mix.p(2, "y");
    @include mix.p(3, "x");

    &:focus-visible {
      opacity: 1;
      visibility: visible;
    }
  }

  &__image:hover {
    .cmp-product-card__preview-btn {
      opacity: 1;
    }
  }

  @include mix.respond-to("lg", "max") {
    &__preview-btn {
      display: none;
    }
  }
}

.cmp-related-products-section {
  @include mix.m(8, "y");
  .swiper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0px 58px 58px;
    margin-left: 0;
    margin-right: 0;
  }
  .swiper-wrapper {
    overflow: hidden;
  }

  .swiper-slide {
    font-size: 18px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-button-prev {
    background: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><foreignObject x="-4" y="-4" width="56" height="56"><div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(2px);clip-path:url(%23bgblur_0_3140_106_clip_path);height:100%;width:100%"></div></foreignObject><path data-figma-bg-blur-radius="4" d="M24 0C10.7452 0 0 10.7452 0 24C0 37.2548 10.7452 48 24 48C37.2548 48 48 37.2548 48 24C48 10.7452 37.2548 0 24 0Z" fill="%234D4D4D" fill-opacity="0.64"/><path d="M28 13L19 24L28 35" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><defs><clipPath id="bgblur_0_3140_106_clip_path" transform="translate(4 4)"><path d="M24 0C10.7452 0 0 10.7452 0 24C0 37.2548 10.7452 48 24 48C37.2548 48 48 37.2548 48 24C48 10.7452 37.2548 0 24 0Z"/></clipPath></defs></svg>');
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
    width: 48px;
    height: 48px;
    border: none;
    // border-radius: 50%;
    &::after {
      display: none;
    }
  }
  .swiper-button-next {
    background: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><foreignObject x="-4" y="-4" width="56" height="56"><div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(2px);clip-path:url(%23bgblur_0_3117_9382_clip_path);height:100%;width:100%"></div></foreignObject><path data-figma-bg-blur-radius="4" d="M24 0C37.2548 0 48 10.7452 48 24C48 37.2548 37.2548 48 24 48C10.7452 48 0 37.2548 0 24C0 10.7452 10.7452 0 24 0Z" fill="%234D4D4D" fill-opacity="0.64"/><path d="M20 13L29 24L20 35" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><defs><clipPath id="bgblur_0_3117_9382_clip_path" transform="translate(4 4)"><path d="M24 0C37.2548 0 48 10.7452 48 24C48 37.2548 37.2548 48 24 48C10.7452 48 0 37.2548 0 24C0 10.7452 10.7452 0 24 0Z"/></clipPath></defs></svg>');
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
    width: 48px;
    height: 48px;
    border: none;
    // border-radius: 50%;
    &::after {
      display: none;
    }
  }

  .pagination-wrapper {
    display: flex;
    justify-content: center;
    @include mix.spacer(gap, 2);
    @include mix.m(8, "t");
    .swiper-pagination {
      text-align: center;
      position: unset;
      width: auto;

      .swiper-pagination-bullet {
        @include mix.m(6, "r");
        background-color: transparent;
        border: 1px solid var(--color-primary-950);
        width: 10px;
        height: 10px;
      }
      .swiper-pagination-bullet-active {
        background-color: var(--color-primary-600);
      }
    }
  }
}
.swiper-button-prev {
  left: var(--swiper-navigation-sides-offset, 0);
  right: auto;
}
.swiper-button-next {
  right: var(--swiper-navigation-sides-offset, 0);
  left: auto;
}
@include mix.respond-to("md", "max") {
  .cmp-related-products-section .swiper {
    padding: 0;
  }
}
