@use "../../../../site/scss/settings/typography" as typo;
@use "../../../../site/scss/settings/variables" as vars;
@use "../../../../site/scss/settings/mixins" as mix;

.cmp-tech-specs {
  .section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .support-faq {
      @include typo.text-base;
      a {
        text-decoration: none;
        color: var(--color-primary-950);
        .icon {
          height: 12px;
        }
      }
    }
  }
  .cmp-tech-specs-details {
    background: var(--color-primary-50);
    @include mix.p(12);
    border-radius: 16px;
  }

  .cmp-tech-specs__item-wrapper {
    display: flex;
    flex-direction: column;
    @include mix.spacer(gap, 8);
    .cmp-tech-specs__item {
      display: flex;
      flex-direction: column;
      @include mix.spacer(gap, 3);
      h3 {
        @include typo.text-tech-specs;
      }
      ul {
        list-style: none;
        @include mix.p(0);
        @include mix.m(0);
        @include typo.text-small;
        color: var(--color-primary-700);
      }
    }
  }
}

@include mix.respond-to("md", "max") {
  .cmp-tech-specs {
    .section-heading {
      h2 {
        @include typo.text-tech-specs;
      }
    }
    .cmp-tech-specs-details {
      @include mix.p(6);
    }

    .cmp-tech-specs__item-wrapper {
      @include mix.spacer(gap, 6);
      .cmp-tech-specs__item {
        @include mix.spacer(gap, 3);
        h3 {
          @include typo.text-base;
        }
        ul {
          @include typo.text-small;
        }
      }
    }
  }
}
