/* stylelint-disable declaration-property-value-no-unknown, declaration-block-no-duplicate-properties, rule-empty-line-before, no-duplicate-selectors, value-no-vendor-prefix, property-no-vendor-prefix, selector-pseudo-element-colon-notation, media-feature-range-notation, comment-empty-line-before */
footer {
    background-color: var(--color-primary-100);
    color: var(--color-primary-950);
    padding-top: 2.5rem;
    padding-bottom: 1.75rem;
}

footer .w-500 {
    font-weight: 500;
}

footer .footer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 3rem;
    margin-bottom: 2.5rem;
    font-family: var(--font-text);
    font-weight: var(--regular);
    letter-spacing: 0;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: var(--medium);
}

@media only screen and (max-width: 45.625rem) {
    footer .footer-grid {
        grid-template-columns: 1fr;
    }
}

footer .footer-left,
footer .footer-right {
    width: 100%;
}

footer .newsletter {
    margin-bottom: 1.5rem;
}

footer .newsletter p {
    font-weight: 500;
    margin-bottom: 0.5rem;
}

footer .newsletter__field-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 80%;
    gap: 0.5rem;
}

footer .newsletter__field-wrapper input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

footer .newsletter__field-wrapper button {
    font-family: var(--font-text);
    font-weight: var(--regular);
    letter-spacing: 0;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

footer .newsletter__response {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: var(--font-text);
    font-weight: var(--regular);
    letter-spacing: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.16px;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

footer .newsletter.has--error .newsletter__field-wrapper input:not(:focus) {
    border-color: var(--color-error);
}

footer .newsletter.has--error .newsletter__response {
    color: var(--color-error);
}

footer .newsletter.has--error .newsletter__response::before {
    content: "";
    width: 16px;
    height: 16px;
    background: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="7.875" cy="7.875" r="7.875" fill="%23B42D18"/><rect x="8.71875" y="9" width="1.6875" height="6.1875" rx="0.84375" transform="rotate(-180 8.71875 9)" fill="white"/><rect x="9" y="12.375" width="2.25" height="2.25" rx="1.125" transform="rotate(-180 9 12.375)" fill="white"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

footer .social .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

footer .social p {
    font-family: var(--font-text);
    font-weight: var(--regular);
    letter-spacing: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: var(--medium);
    margin-bottom: 0.5rem;
}

footer .social .text-social {
    color: var(--color-primary-700);
    font-family: var(--font-text);
    font-weight: var(--regular);
    letter-spacing: 0;
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: 0.24px;
}

footer .social__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
    margin-top: 1.5rem;
}

footer .social__icons li {
    height: 40px;
}

footer .social__icons li a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-radius: 50%;
}

footer .social__icons li a:hover .social_icons-circle,
footer .social__icons li a:focus .social_icons-circle,
footer .social__icons li a:active .social_icons-circle,
footer .social__icons li a:focus-visible .social_icons-circle {
    fill: var(--color-primary-500);
}

footer .social__icons li a:focus-visible {
    outline-offset: 2px;
}

footer .footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

footer .footer-links__column {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
    list-style: none;
    -webkit-margin-before: 0px;
    margin-block-start: 0px;
    margin-bottom: 0;
}

footer .footer-links__column li:not(:last-child) a,
footer .footer-links__column li:not(:last-child) p {
    margin-bottom: 1rem;
}

footer .footer-links__column p.w-500 {
    color: var(--color-primary-950);
    font-family: var(--font-text);
    font-weight: var(--regular);
    letter-spacing: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: var(--medium);
}

footer .footer-links__column a {
    color: var(--color-primary-600);
    display: inline-block;
    text-decoration: none;
    font-family: var(--font-text);
    font-weight: var(--regular);
    letter-spacing: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.16px;
}

footer .footer-links__column a:hover {
    color: var(--color-primary-950);
    text-decoration: underline;
}

footer .footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-top: 1px solid var(--color-primary-300);
    padding-top: 1rem;
}

footer .footer-bottom span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    color: var(--color-primary-600);
    gap: 0.5rem;
}

footer .footer-bottom .global-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    color: var(--color-primary-600);
    gap: 0.25rem;
    border: none;
    cursor: pointer;
}

footer .footer-bottom__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--color-primary-600);
    font-family: var(--font-text);
    font-weight: var(--regular);
    letter-spacing: 0;
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: 0.24px;
    gap: 2.5rem;
}

footer .footer-bottom__links a {
    color: var(--color-primary-600);
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    font-family: var(--font-text);
    font-weight: var(--regular);
    letter-spacing: 0;
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: 0.24px;
}

footer .footer-bottom__links a:hover {
    color: var(--color-primary-950);
    text-decoration: underline;
}

footer .footer-bottom__links a:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1px;
    height: 11px;
    background-color: var(--color-primary-300);
}

@media only screen and (max-width: 79.9375rem) {
    footer .footer-grid {
        grid-template-columns: 1fr;
        text-align: left;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    footer .footer-grid .footer-links__column:not(:last-child) {
        margin-bottom: 2rem;
    }

    footer .footer-grid .footer-links__column li:not(:last-child) a,
    footer .footer-grid .footer-links__column li:not(:last-child) p {
        margin-bottom: 0.75rem;
    }

    footer .newsletter__field-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        width: 100%;
        max-width: 100%;
        gap: 0.5rem;
    }

    footer .newsletter__field-wrapper input {
        width: 65%;
        margin-bottom: 0;
    }

    footer .newsletter__field-wrapper button {
        width: auto;
        white-space: nowrap;
        margin-left: 0;
    }

    footer .social .text-social {
        text-align: left;
        margin-bottom: 0.5rem;
    }

    footer .social__icons {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    footer .social__icons .social_icons-circle {
        stroke: transparent;
    }

    footer .footer-links {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    footer .footer-links__column {
        text-align: left;
        width: 100%;
    }

    footer .footer-links__column p {
        font-family: var(--font-text);
        font-weight: var(--regular);
        letter-spacing: 0;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: var(--medium);
    }

    footer .footer-bottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        text-align: left;
        gap: 2rem;
        padding-top: 2rem;
    }

    footer .footer-bottom span {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    footer .footer-bottom__links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 1.5rem;
    }

    footer .footer-bottom__links a {
        color: var(--color-primary-600);
        position: relative;
        text-decoration: none;
        white-space: nowrap;
    }

    footer .footer-bottom__links a:hover {
        color: var(--color-primary-950);
    }

    footer .footer-bottom__links a:not(:last-child)::after {
        right: -13px;
    }

    footer .footer-bottom .global-link {
        color: var(--color-primary-950);
    }
}

footer .back-to-top {
    position: fixed;
    bottom: 70px;
    right: 20px;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    padding: 0;
    border: 0;
}

footer .back-to-top svg {
    width: 60px;
    height: 60px;
}

footer .back-to-top.visible {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

footer .back-to-top:focus .back-to-top__bg,
footer .back-to-top:hover .back-to-top__bg {
    fill: var(--color-primary-200);
}

footer .back-to-top:focus-visible {
    outline-offset: 2px;
}

@media only screen and (max-width: 79.9375rem) {
    footer .back-to-top {
        right: 8px;
        bottom: 8px;
    }

    footer .back-to-top svg {
        width: 44px;
        height: 44px;
    }
}

/* stylelint-enable declaration-property-value-no-unknown, declaration-block-no-duplicate-properties, rule-empty-line-before, no-duplicate-selectors, value-no-vendor-prefix, property-no-vendor-prefix, selector-pseudo-element-colon-notation, media-feature-range-notation, comment-empty-line-before */