@use "../../../site/scss/settings/mixins" as mix;
@use "../../../site/scss/settings/typography" as typo;
@use "../../../site/scss/settings/variables" as vars;

.faq-heading {
  @include mix.m(12, "b");

  @include mix.respond-to("lg", "max") {
    @include mix.m(3, "b");
  }
}

.cmp-banner__image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover; // crop edges
  object-position: center; // show middle
  aspect-ratio: 1440/777;

  @include mix.respond-to("xl", "max") {
    aspect-ratio: 768 / 429;
  }

  @include mix.respond-to("md", "max") {
    aspect-ratio: 360 / 528;
  }
}
