@use "../../../site/scss/settings/mixins" as mix;
@use "../../../site/scss/settings/typography" as typo;
@use "../../../site/scss/settings/variables" as vars;

.faq-heading {
  @include mix.m(12, "b");

  @include mix.respond-to("lg", "max") {
    @include mix.m(3, "b");
  }
}
