<div class="cmp-pdp-notifications-container">
   <div class="cmp-pdp-notifications warning">
      <p class="cmp-pdp-notifications__header"><span class="icon icon--info-white-filled"></span><span class="cmp-pdp-notifications__title">Spec Adjustment</span></p>
      <p class="cmp-pdp-notifications__subtitle">Choosing this option may modify other specs, impacting price/discounts</p>
   </div>
   <div class="cmp-pdp-notifications__actions warning">
      <p class="cmp-pdp-notifications__subtitle"> Click <span class="icon icon--info-white-filled"></span> icon anytime to review this note again</p>
   </div>
   <%- include('../customization-dialogs/_specifiations-info.ejs', {specificationId: 'spec-id-checkmark'}) %>
</div>
