
@media only screen and (min-width: 80rem) {
    .product-matches-wrapper .container {
        max-width: 1240px;
        padding: 0px;
    }
}

.section-with-bottom-spacing {
    padding-bottom: 120px
}

@media only screen and (max-width: 45.625rem) {
    .section-with-bottom-spacing {
        padding-bottom:2rem
    }
}

@media only screen and (max-width: 63.9375rem) {
    .section-with-bottom-spacing {
        padding-bottom:2rem
    }
}

.section-with-top-spacing {
    padding-top: 4rem
}

@media only screen and (max-width: 45.625rem) {
    .section-with-top-spacing {
        padding-top:2rem
    }
}

@media only screen and (max-width: 63.9375rem) {
    .section-with-top-spacing {
        padding-top:2rem
    }
}

body.no-scroll {
    height: 100%;
    overflow: hidden
}

@media only screen and (max-width: 45.625rem) {
    .hide-on-mobile {
        display:none
    }
}

.section-actions-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 2rem
}

.section-actions-container .section-actions-btn {
    background-color: var(--color-black-50);
    border: none;
    color: var(--color-white);
    cursor: pointer;
    font-family: var(--font-text);
    font-size: 1.125rem;
    font-weight: var(--regular);
    letter-spacing: 0;
    line-height: 1.5rem
}

.section-actions-container .section-actions-btn .icon {
    height: 12px;
    width: 12px
}

.section-actions-container .loader {
    -webkit-animation: loader 1s linear infinite;
    animation: loader 1s linear infinite;
    display: none
}

.section-actions-container .loader .icon {
    height: 48px;
    width: 48px
}






.text-center {
    text-align: center
}

.layout-grid {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(12,1fr)
}

.layout-grid__col {
    grid-column: span 12
}

.layout-grid__col--span-3 {
    grid-column: span 3
}


.choices {
    font-size: 16px;
    margin-bottom: 24px;
    overflow: hidden;
    position: relative
}

.choices:focus {
    outline: none
}

.choices:last-child {
    margin-bottom: 0
}

.choices.is-open {
    overflow: visible
}

.choices.is-disabled .choices__inner,.choices.is-disabled .choices__input {
    background-color: #eaeaea;
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.choices.is-disabled .choices__item {
    cursor: not-allowed
}

.choices [hidden] {
    display: none!important
}

.choices[data-type*=select-one] {
    cursor: pointer
}

.choices[data-type*=select-one] .choices__inner {
    padding-bottom: 7.5px
}

.choices[data-type*=select-one] .choices__input {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    display: block;
    margin: 0;
    padding: 10px;
    width: 100%
}

.choices[data-type*=select-one] .choices__button {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMSIgaGVpZ2h0PSIyMSIgdmlld0JveD0iMCAwIDIxIDIxIj48ZyBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Im0yLjU5Mi4wNDQgMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NCAxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==");
    background-size: 8px;
    border-radius: 10em;
    height: 20px;
    margin-right: 25px;
    margin-top: -10px;
    opacity: .25;
    padding: 0;
    position: absolute;
    right: 0;
    top: 50%;
    width: 20px
}

.choices[data-type*=select-one] .choices__button:focus,.choices[data-type*=select-one] .choices__button:hover {
    opacity: 1
}

.choices[data-type*=select-one] .choices__button:focus {
    -webkit-box-shadow: 0 0 0 2px #005f75;
    box-shadow: 0 0 0 2px #005f75
}

.choices[data-type*=select-one] .choices__item[data-placeholder] .choices__button {
    display: none
}

.choices[data-type*=select-one]:after {
    border: 5px solid transparent;
    border-top-color: #333;
    content: "";
    height: 0;
    margin-top: -2.5px;
    pointer-events: none;
    position: absolute;
    right: 11.5px;
    top: 50%;
    width: 0
}

.choices[data-type*=select-one].is-open:after {
    border-color: transparent transparent #333;
    margin-top: -7.5px
}

.choices[data-type*=select-one][dir=rtl]:after {
    left: 11.5px;
    right: auto
}

.choices[data-type*=select-one][dir=rtl] .choices__button {
    left: 0;
    margin-left: 25px;
    margin-right: 0;
    right: auto
}

.choices[data-type*=select-multiple] .choices__inner,.choices[data-type*=text] .choices__inner {
    cursor: text
}

.choices[data-type*=select-multiple] .choices__button,.choices[data-type*=text] .choices__button {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMSIgaGVpZ2h0PSIyMSIgdmlld0JveD0iMCAwIDIxIDIxIj48ZyBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Im0yLjU5Mi4wNDQgMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NCAxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==");
    background-size: 8px;
    border-left: 1px solid #003642;
    border-radius: 0;
    display: inline-block;
    line-height: 1;
    margin: 0 -4px 0 8px;
    opacity: .75;
    padding-left: 16px;
    position: relative;
    width: 8px
}

.choices[data-type*=select-multiple] .choices__button:focus,.choices[data-type*=select-multiple] .choices__button:hover,.choices[data-type*=text] .choices__button:focus,.choices[data-type*=text] .choices__button:hover {
    opacity: 1
}

.choices__inner {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 2.5px;
    display: inline-block;
    font-size: 14px;
    min-height: 44px;
    overflow: hidden;
    padding: 7.5px 7.5px 3.75px;
    vertical-align: top;
    width: 100%
}

.is-focused .choices__inner,.is-open .choices__inner {
    border-color: #b7b7b7
}

.is-open .choices__inner {
    border-radius: 2.5px 2.5px 0 0
}

.is-flipped.is-open .choices__inner {
    border-radius: 0 0 2.5px 2.5px
}

.choices__list {
    list-style: none;
    margin: 0;
    padding-left: 0
}

.choices__list--single {
    display: inline-block;
    padding: 4px 16px 4px 4px;
    width: 100%
}

[dir=rtl] .choices__list--single {
    padding-left: 16px;
    padding-right: 4px
}

.choices__list--single .choices__item {
    width: 100%
}

.choices__list--multiple {
    display: inline
}

.choices__list--multiple .choices__item {
    background-color: #005f75;
    border: 1px solid #004a5c;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 3.75px;
    margin-right: 3.75px;
    padding: 4px 10px;
    vertical-align: middle;
    word-break: break-all
}

.choices__list--multiple .choices__item[data-deletable] {
    padding-right: 5px
}

[dir=rtl] .choices__list--multiple .choices__item {
    margin-left: 3.75px;
    margin-right: 0
}

.choices__list--multiple .choices__item.is-highlighted {
    background-color: #004a5c;
    border: 1px solid #003642
}

.is-disabled .choices__list--multiple .choices__item {
    background-color: #aaa;
    border: 1px solid #919191
}

.choices__list--dropdown,.choices__list[aria-expanded] {
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-left-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    display: none;
    margin-top: -1px;
    overflow: hidden;
    position: absolute;
    top: 100%;
    width: 100%;
    word-break: break-all;
    z-index: 1
}

.is-active.choices__list--dropdown,.is-active.choices__list[aria-expanded] {
    display: block
}

.is-open .choices__list--dropdown,.is-open .choices__list[aria-expanded] {
    border-color: #b7b7b7
}

.is-flipped .choices__list--dropdown,.is-flipped .choices__list[aria-expanded] {
    border-radius: .25rem .25rem 0 0;
    bottom: 100%;
    margin-bottom: -1px;
    margin-top: 0;
    top: auto
}

.choices__list--dropdown .choices__list,.choices__list[aria-expanded] .choices__list {
    max-height: 300px;
    overflow: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position
}

.choices__list--dropdown .choices__item,.choices__list[aria-expanded] .choices__item {
    font-size: 14px;
    padding: 10px;
    position: relative
}

[dir=rtl] .choices__list--dropdown .choices__item,[dir=rtl] .choices__list[aria-expanded] .choices__item {
    text-align: right
}

@media (min-width: 640px) {
    .choices__list--dropdown .choices__item--selectable[data-select-text],.choices__list[aria-expanded] .choices__item--selectable[data-select-text] {
        padding-right:100px
    }

    .choices__list--dropdown .choices__item--selectable[data-select-text]:after,.choices__list[aria-expanded] .choices__item--selectable[data-select-text]:after {
        content: attr(data-select-text);
        font-size: 12px;
        opacity: 0;
        position: absolute;
        right: 10px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }

    [dir=rtl] .choices__list--dropdown .choices__item--selectable[data-select-text],[dir=rtl] .choices__list[aria-expanded] .choices__item--selectable[data-select-text] {
        padding-left: 100px;
        padding-right: 10px;
        text-align: right
    }

    [dir=rtl] .choices__list--dropdown .choices__item--selectable[data-select-text]:after,[dir=rtl] .choices__list[aria-expanded] .choices__item--selectable[data-select-text]:after {
        left: 10px;
        right: auto
    }
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: #f2f2f2
}

.choices__list--dropdown .choices__item--selectable.is-highlighted:after,.choices__list[aria-expanded] .choices__item--selectable.is-highlighted:after {
    opacity: .5
}

.choices__item {
    cursor: default
}

.choices__item--selectable {
    cursor: pointer
}

.choices__item--disabled {
    cursor: not-allowed;
    opacity: .5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.choices__heading {
    border-bottom: 1px solid #f7f7f7;
    color: grey;
    font-size: 12px;
    font-weight: 600;
    padding: 10px
}

.choices__button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    background-position: 50%;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    text-indent: -9999px
}

.choices__button:focus {
    outline: none
}

.choices__input {
    background-color: #f9f9f9;
    border: 0;
    border-radius: 0;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 5px;
    max-width: 100%;
    padding: 4px 0 4px 2px;
    vertical-align: baseline
}

.choices__input:focus {
    outline: 0
}

.choices__input::-webkit-search-cancel-button,.choices__input::-webkit-search-decoration,.choices__input::-webkit-search-results-button,.choices__input::-webkit-search-results-decoration {
    display: none
}

.choices__input::-ms-clear,.choices__input::-ms-reveal {
    display: none;
    height: 0;
    width: 0
}

[dir=rtl] .choices__input {
    padding-left: 0;
    padding-right: 2px
}

.choices__placeholder {
    opacity: .5
}

.choices {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-bottom: 0!important;
    min-width: 0;
    padding: 0
}

.choices .choices__inner {
    background: transparent;
    border: 0;
    border-radius: .5rem;
    color: var(--color-primary-950);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: auto;
    position: relative;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-shadow: inset 0 0 0 1px var(--color-primary-600);
    box-shadow: inset 0 0 0 1px var(--color-primary-600);
    font-family: var(--font-text);
    font-size: 1rem;
    font-weight: var(--regular);
    gap: .5rem;
    justify-content: space-between;
    letter-spacing: 0;
    line-height: 1.5rem;
    padding: .25rem 1rem
}

.choices .choices__inner:after {
    background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 12 12"><path stroke="%23fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M1.125 3.75 6 7.875l4.875-4.125"/></svg>');
    background-position: 50%;
    background-repeat: no-repeat;
    content: "";
    height: 12px;
    pointer-events: none;
    width: 12px;
    z-index: 10
}

.choices .choices__inner .choices__item {
    min-width: 136px
}

.choices[data-type*=select-one] .choices__inner {
    padding: .25rem 1rem
}

.choices .choices__list--single {
    padding: 0
}

.choices .choices__list--single .choices__item {
    color: var(--color-primary-700);
    min-width: none
}

.choices .choices__button,.choices:after,.choices:before {
    display: none!important
}

.choices .choices__list--dropdown {
    background: var(--color-primary-base);
    border: 1px solid var(--color-primary-600);
    border-radius: .5rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    left: 0;
    margin-top: .25rem;
    min-width: 100%;
    opacity: 0;
    padding-bottom: .5rem;
    padding-top: .5rem;
    pointer-events: none;
    position: absolute;
    visibility: hidden;
    z-index: 2000
}

.choices .choices__list--dropdown,.choices .choices__list--dropdown .choices__item {
    font-family: var(--font-text);
    font-size: 1rem;
    font-weight: var(--regular);
    letter-spacing: 0;
    line-height: 1.5rem
}

.choices .choices__list--dropdown .choices__item {
    color: var(--color-primary-700);
    padding: .25rem 1rem
}

.choices .choices__list--dropdown .choices__item:hover {
    background: var(--color-primary-base);
    color: var(--color-primary-950)
}

.choices .choices__list--dropdown .choices__item.is-selected {
    background: #006ce1;
    color: var(--color-primary-950)
}

.choices .choices__list--dropdown .choices__item.is-selected.is-highlighted {
    background: #006ce1;
    outline: 2px solid var(--color-primary-950);
    outline-offset: -2px
}

.choices .choices__list--dropdown .choices__item:not(.is-selected).is-highlighted {
    background: var(--color-primary-base);
    color: var(--color-primary-950);
    outline: 2px solid #006ce1;
    outline-offset: -2px
}

.choices.is-open {
    border-radius: 0;
    outline: none
}

.choices.is-open .choices__inner {
    -webkit-box-shadow: inset 0 0 0 1px var(--color-primary-950);
    box-shadow: inset 0 0 0 1px var(--color-primary-950)
}

.choices.is-open .choices__list--dropdown {
    opacity: 1;
    pointer-events: auto;
    visibility: visible
}

.choices:has(.choices__inner:focus-visible) {
    overflow: visible
}

.choices .choices__inner:focus-visible {
    outline: 2px solid var(--color-focus-ring)
}

.choices.is-flipped.is-open .choices__inner {
    border-radius: .5rem
}

.choices.is-flipped .choices__list--dropdown {
    background: var(--color-primary-base);
    border: 1px solid var(--color-primary-600);
    border-radius: .5rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    left: 0;
    margin-bottom: .25rem;
    min-width: 100%;
    padding-bottom: .5rem;
    padding-top: .5rem;
    position: absolute;
    z-index: 2000
}

.choices.is-flipped .choices__list--dropdown,.choices.is-flipped .choices__list--dropdown .choices__item {
    font-family: var(--font-text);
    font-size: 1rem;
    font-weight: var(--regular);
    letter-spacing: 0;
    line-height: 1.5rem
}

.choices.is-flipped .choices__list--dropdown .choices__item {
    color: var(--color-primary-950);
    padding: .25rem 1rem
}

@media only screen and (min-width: 64rem) {
    .choices .choices__button,.choices:after,.choices:before {
        display:none!important
    }
}

@media only screen and (max-width: 63.9375rem) {
    .choices .choices__inner,.choices[data-type*=select-one] .choices__inner {
        padding-bottom:.5rem;
        padding-top: .5rem
    }
}

:root {
    --btn-bg: var(--color-primary-950);
    --btn-color: var(--color-primary);
    --btn-disabled-bg: var(--color-primary-600);
    --btn-disabled-color: var(--color-primary-800);
    --btn-hover-bg: var(--color-primary-700);
    --btn-outline-border: var(--color-primary-950);
    --btn-outline-disabled-border: var(--color-primary-600);
    --btn-outline-hover-bg: var(--color-primary-950);
    --btn-outline-hover-color: var(--color-primary);
    --btn-link-color: var(--color-primary-950);
    --btn-link-disabled-color: var(--color-primary-600);
    --btn-link-hover-color: var(--color-primary-950)
}

.light-mode {
    --btn-bg: var(--color-primary);
    --btn-color: var(--color-primary-950);
    --btn-disabled-bg: var(--color-primary-700);
    --btn-disabled-color: var(--color-primary-400);
    --btn-hover-bg: var(--color-primary-300);
    --btn-outline-border: var(--color-primary);
    --btn-outline-disabled-border: var(--color-primary-700);
    --btn-outline-hover-bg: var(--color-primary);
    --btn-outline-hover-color: var(--color-primary-950);
    --btn-link-color: var(--color-primary);
    --btn-link-disabled-color: var(--color-primary-700);
    --btn-link-hover-color: var(--color-primary)
}

.btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    background-color: var(--btn-bg);
    border: none;
    border-radius: .5rem;
    color: var(--btn-color);
    cursor: pointer;
    font-family: var(--font-text);
    font-size: 1.125rem;
    font-weight: 400;
    font-weight: var(--regular);
    gap: .75rem;
    justify-content: center;
    letter-spacing: 0;
    line-height: 1.5rem;
    padding: .5rem 1rem;
    text-decoration: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    white-space: nowrap
}

.btn:disabled {
    background-color: var(--btn-disabled-bg);
    color: var(--btn-disabled-color);
    cursor: not-allowed
}

.btn:hover:not(:disabled) {
    background-color: var(--btn-hover-bg)
}

.btn:focus-visible:not(:disabled) {
    outline: solid 2px var(--color-focus-ring);
    outline-offset: 2px
}

.btn-sm {
    font-size: .8125rem;
    gap: .5rem;
    line-height: 1.125rem;
    padding: .5rem .75rem
}

.btn-outline {
    background-color: transparent;
    -webkit-box-shadow: inset 0 0 0 2px var(--btn-outline-border);
    box-shadow: inset 0 0 0 2px var(--btn-outline-border);
    color: var(--btn-outline-border)
}

.btn-outline:disabled {
    background-color: transparent;
    -webkit-box-shadow: inset 0 0 0 2px var(--btn-outline-disabled-border);
    box-shadow: inset 0 0 0 2px var(--btn-outline-disabled-border);
    color: var(--btn-outline-disabled-border)
}

.btn-outline:focus:not(:disabled),.btn-outline:hover:not(:disabled) {
    background-color: var(--btn-outline-hover-bg);
    color: var(--btn-outline-hover-color)
}

.btn-link {
    background-color: transparent;
    color: var(--btn-link-color);
    gap: .5rem;
    padding: 0
}

.btn-link:disabled {
    background-color: transparent;
    color: var(--btn-link-disabled-color)
}

.btn-link:focus:not(:disabled),.btn-link:hover:not(:disabled) {
    background-color: transparent;
    color: var(--btn-link-hover-color);
    text-decoration: underline
}

.btn-link:focus-visible:not(:disabled) {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline-color: var(--color-focus-ring)
}

.btn-link.btn-sm {
    font-size: 1rem;
    line-height: 1.5rem
}






[data-tooltip-trigger] {
    cursor: pointer
}

.tooltip__content {
    --tooltip-background: var(--color-primary-950);
    --tooltip-color: var(--color-primary);
    --tooltip-offset: 0;
    background: var(--tooltip-background);
    border-radius: .5rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: var(--tooltip-color);
    font-family: var(--font-text);
    font-size: .875rem;
    font-weight: var(--regular);
    left: -9999px;
    letter-spacing: 0;
    letter-spacing: .16px;
    line-height: 1.25rem;
    max-width: 400px;
    opacity: 0;
    padding: 1.25rem;
    pointer-events: none;
    position: fixed;
    top: -9999px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: opacity .2s ease,-webkit-transform .2s ease;
    transition: opacity .2s ease,-webkit-transform .2s ease;
    transition: opacity .2s ease,transform .2s ease;
    transition: opacity .2s ease,transform .2s ease,-webkit-transform .2s ease;
    visibility: hidden;
    will-change: transform,opacity;
    z-index: 99999
}

.section-heading {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: space-between;
    margin-bottom: 2rem
}

.section-heading,.section-heading__text-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.section-heading__text-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0
}

.section-heading.content-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center
}

.section-heading.content-center .section-heading__text-group {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.section-heading .section-heading__title {
    color: var(--color-primary-950);
    font-family: var(--font-display);
    font-size: 2.75rem;
    font-weight: var(--medium);
    letter-spacing: 0;
    line-height: 3.25rem;
    margin: 0
}

.section-heading .section-heading__description {
    color: var(--color-primary-950);
    font-family: var(--font-text);
    font-size: 1rem;
    font-weight: var(--regular);
    letter-spacing: 0;
    line-height: 1.5rem;
    margin-top: .5rem
}

.section-heading .section-heading__subtitle-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between
}

.section-heading .section-heading__subtitle-container .section-heading__description {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-top: .5rem;
    min-width: 0
}

.section-heading .section-heading__action-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.section-heading .section-heading__action-buttons .sr-only {
    color: var(--color-primary-950)
}

@media only screen and (max-width: 79.9375rem) {
    .section-heading {
        margin-bottom:1.25rem
    }

    .section-heading__text-group {
        word-wrap: break-word;
        -ms-hyphens: auto;
        hyphens: auto;
        overflow-wrap: break-word
    }

    .section-heading .section-heading__title {
        font-family: var(--font-display);
        font-size: 1.875rem;
        font-weight: var(--medium);
        letter-spacing: 0;
        line-height: 2.375rem
    }

    .section-heading .section-heading__description {
        font-family: var(--font-display);
        font-size: .875rem;
        font-weight: var(--medium);
        letter-spacing: 0;
        line-height: 1.25rem
    }

    .section-heading .section-heading__action-buttons {
        gap: .75rem
    }

    .product-matches .section-heading.content-center {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: left
    }

    .product-matches .section-heading.content-center .section-heading__text-group {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }
}

/* 1 Start */

.cmp-product-card {
    background: var(--color-primary-50);
    border-radius: 1rem;
    color: var(--color-primary-950);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.25rem;
    height: 100%;
    padding: 2rem
}

.cmp-product-card__header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    color: var(--color-primary-700);
    font-family: var(--font-text);
    font-size: .875rem;
    font-weight: var(--regular);
    gap: 1.5rem;
    letter-spacing: 0;
    letter-spacing: .16px;
    line-height: 1.25rem;
    min-height: 40px
}

.cmp-product-card__header:not(:has(.cmp-product-card__bundle-message)) {
    grid-template-columns: 1fr
}

.cmp-product-card__body {
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    gap: 1.25rem
}

.cmp-product-card__body,.cmp-product-card__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal
}

.cmp-product-card__info {
    -ms-flex-direction: column;
    flex-direction: column
}

.cmp-product-card__status {
    color: var(--color-primary-950);
    -ms-flex-align: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-family: var(--font-text);
    font-size: .8125rem;
    font-weight: var(--regular);
    letter-spacing: 0;
    letter-spacing: .24px;
    line-height: 1.125rem
}

.cmp-product-card__status,.cmp-product-card__status .cmp-product-card__status-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: .5rem
}

.cmp-product-card__status .cmp-product-card__status-item {
    position: relative;
    -ms-flex-align: center
}

.cmp-product-card__status .cmp-product-card__status-item:not(:last-child):after {
    background-color: var(--color-primary-300);
    content: "";
    height: 12px;
    width: 1px
}

.cmp-product-card__status--in-stock {
    color: var(--color-success);
    font-weight: 500
}

.cmp-product-card__image {
    margin: 0 auto;
    max-width: 200px;
    position: relative
}

.cmp-product-card__image:before {
    background: var(--gradient-product-card);
    border-radius: 100%;
    content: "";
    -webkit-filter: blur(32px);
    filter: blur(32px);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.cmp-product-card__image .cmp-image__image {
    border-radius: .5rem;
    position: relative;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    width: 100%;
    z-index: 1
}

.cmp-product-card__image .cmp-image__image--hover {
    display: none;
    height: 100%;
    inset: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    width: 100%
}

.cmp-product-card__image:has(.cmp-image__image--hover):hover .cmp-image__image {
    opacity: 0
}

.cmp-product-card__image:has(.cmp-image__image--hover):hover .cmp-image__image--hover {
    display: block
}

.cmp-product-card__title {
    color: var(--color-primary-950);
    margin-bottom: .25rem
}

.cmp-product-card__title a {
    color: inherit;
    text-decoration: none
}

.cmp-product-card__title a:hover {
    text-decoration: underline
}

.cmp-product-card__model {
    color: var(--color-primary-700);
    font-family: var(--font-text);
    font-size: .875rem;
    font-weight: var(--regular);
    letter-spacing: 0;
    letter-spacing: .16px;
    line-height: 1.25rem
}

.cmp-product-card__model a {
    color: inherit;
    text-decoration: none
}

.cmp-product-card__model a:hover {
    text-decoration: underline
}

.cmp-product-card__rating_and_compare {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    gap: .5rem;
    justify-content: space-between
}

.cmp-product-card__compare,.cmp-product-card__rating_and_compare {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.cmp-product-card__compare {
    cursor: pointer
}

.cmp-product-card__compare input[type=checkbox] {
    padding: 2px 0
}

.cmp-product-card__compare .cmp-product-card__compare-label {
    color: var(--color-primary-950);
    cursor: pointer;
    font-family: var(--font-text);
    font-size: .875rem;
    font-weight: var(--regular);
    letter-spacing: 0;
    letter-spacing: .16px;
    line-height: 1.25rem;
    padding-left: .5rem
}

.cmp-product-card__fps-game {
    color: var(--color-primary-700);
    font-family: var(--font-text);
    font-size: .75rem;
    font-weight: var(--regular);
    letter-spacing: 0;
    letter-spacing: .24px;
    line-height: 1.125rem;
    margin-bottom: .25rem
}

.cmp-product-card__fps-score {
    background: transparent;
    border: 1px solid var(--color-primary-600);
    border-radius: .5rem;
    color: var(--color-primary-950);
    display: inline-block;
    font-family: var(--font-text);
    font-size: .875rem;
    font-weight: var(--regular);
    letter-spacing: 0;
    letter-spacing: .16px;
    line-height: 1.25rem;
    line-height: 1.125rem;
    min-height: 24px;
    min-width: 64px;
    outline-offset: 2px;
    padding: 1px 12px;
    text-align: center
}

.cmp-product-card__fps-score:hover {
    border: 1px solid var(--color-primary-950)
}

.cmp-product-card__fps-score:focus-visible {
    outline: 2px solid var(--color-focus-ring);
    outline-offset: 2px
}

.cmp-product-card__specs {
    font-family: var(--font-text);
    font-size: .875rem;
    font-weight: var(--regular);
    letter-spacing: 0;
    letter-spacing: .16px;
    line-height: 1.25rem;
    margin: 0;
    padding-left: .75rem;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.cmp-product-card__specs-item {
    list-style-type: square
}

.cmp-product-card__price-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    gap: .5rem
}

.cmp-product-card__price {
    color: var(--color-primary-950);
    font-family: var(--font-text);
    font-size: 1.25rem;
    font-weight: var(--regular);
    font-weight: var(--medium);
    letter-spacing: 0;
    line-height: 1.75rem
}

.cmp-product-card__original-price {
    color: var(--color-primary-700);
    text-decoration: line-through
}

.cmp-product-card__discount,.cmp-product-card__original-price {
    font-family: var(--font-text);
    font-size: .875rem;
    font-weight: var(--regular);
    letter-spacing: 0;
    letter-spacing: .16px;
    line-height: 1.25rem
}

.cmp-product-card__discount {
    color: var(--color-warning)
}

.cmp-product-card:has(.cmp-product-card__original-price) .cmp-product-card__price {
    color: var(--color-warning)
}

.cmp-product-card__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    gap: .75rem;
    justify-content: space-between;
    margin-top: auto
}

.cmp-product-card__footer .btn {
    -webkit-box-flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
    flex: 1
}

.cmp-product-card__estore-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative
}

.cmp-product-card__estore-line:after {
    content: "";
    -webkit-box-flex: 1;
    background-color: var(--color-primary-300);
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    margin-left: .25rem
}

.cmp-product-card__estore-label {
    color: var(--color-primary-700);
    white-space: nowrap
}

.cmp-product-card__bundle-message,.cmp-product-card__estore-label {
    font-family: var(--font-text);
    font-size: .875rem;
    font-weight: var(--regular);
    letter-spacing: 0;
    letter-spacing: .16px;
    line-height: 1.25rem
}

.cmp-product-card__bundle-message {
    color: var(--color-primary-950);
    text-align: end
}

.cmp-product-card__estore-icon-label {
    cursor: pointer
}

.cmp-product-card__estore-icon-wrapper {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative
}

.cmp-product-card__estore-icon-wrapper:hover .cmp-product-card__tooltip {
    display: block
}

.cmp-product-card__estore-icon {
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3E%3Ccircle cx='8' cy='8' r='6.5' stroke='%23999'/%3E%3Crect width='1.5' height='5.5' x='7.25' y='7' fill='%23999' rx='.75'/%3E%3Crect width='2' height='2' x='7' y='4' fill='%23999' rx='1'/%3E%3C/svg%3E");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 16px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    height: 24px;
    margin: -2px 0;
    width: 24px
}

.cmp-product-card__estore-icon:active,.cmp-product-card__estore-icon:focus-visible,.cmp-product-card__estore-icon:hover {
    outline: 2px solid var(--color-focus-ring);
    outline-offset: -5px
}

.cmp-product-card__tooltip {
    width: 260px
}

.cmp-product-card__preview-btn {
    background-color: var(--color-primary-100);
    border: 1px solid var(--color-primary-700);
    border-radius: .5rem;
    color: var(--color-primary-950);
    cursor: pointer;
    height: 1px;
    left: 50%;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 1px;
    clip: rect(0,0,0,0);
    font-family: var(--font-text);
    font-size: .875rem;
    font-weight: var(--regular);
    letter-spacing: 0;
    letter-spacing: .16px;
    line-height: 1.25rem;
    padding: .5rem .75rem;
    z-index: 2
}

.cmp-product-card__preview-btn:focus-visible {
    height: auto;
    overflow: visible;
    width: auto;
    clip: auto
}

.cmp-product-card__image:hover .cmp-product-card__preview-btn {
    height: auto;
    overflow: visible;
    width: auto;
    clip: auto
}

@media only screen and (max-width: 79.9375rem) {
    .cmp-product-card {
        padding:1.25rem
    }

    .cmp-product-card__preview-btn {
        display: none
    }

    .cmp-product-card__title a {
        font-family: var(--font-display);
        font-size: 1.125rem;
        font-weight: var(--medium);
        letter-spacing: 0;
        line-height: 1.625rem
    }

    .cmp-product-card__image {
        max-width: 160px
    }
}

.cmp-product-card__stars {
    --star-size: 16px;
    --percent: 0%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: .5rem
}

.cmp-product-card__stars-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3E%3Cpath fill='%23ccc' d='M5.528.859a.5.5 0 0 1 .944 0l1.06 3.047a.5.5 0 0 0 .462.336l3.225.066a.5.5 0 0 1 .292.898l-2.57 1.949a.5.5 0 0 0-.177.543l.934 3.088a.5.5 0 0 1-.764.556L6.286 9.499a.5.5 0 0 0-.572 0L3.066 11.34a.5.5 0 0 1-.764-.555l.934-3.088a.5.5 0 0 0-.176-.543L.489 5.205a.5.5 0 0 1 .292-.897l3.225-.066a.5.5 0 0 0 .462-.336z'/%3E%3C/svg%3E");
    position: relative;
    width: calc(var(--star-size)*5)
}

.cmp-product-card__stars-icon,.cmp-product-card__stars-icon:after {
    background-size: var(--star-size) calc(var(--star-size) + 4px);
    height: var(--star-size)
}

.cmp-product-card__stars-icon:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3E%3Cpath fill='%23006ce1' d='M5.528.859a.5.5 0 0 1 .944 0l1.06 3.047a.5.5 0 0 0 .462.336l3.225.066a.5.5 0 0 1 .292.898l-2.57 1.949a.5.5 0 0 0-.177.543l.934 3.088a.5.5 0 0 1-.764.556L6.286 9.499a.5.5 0 0 0-.572 0L3.066 11.34a.5.5 0 0 1-.764-.555l.934-3.088a.5.5 0 0 0-.176-.543L.489 5.205a.5.5 0 0 1 .292-.897l3.225-.066a.5.5 0 0 0 .462-.336z'/%3E%3C/svg%3E");
    content: "";
    left: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: var(--percent);
    z-index: 1
}

.cmp-product-card__stars-text {
    color: var(--color-primary-700)
}

.cmp-product-card__fps-table,.cmp-product-card__stars-text {
    font-family: var(--font-text);
    font-size: .8125rem;
    font-weight: var(--regular);
    letter-spacing: 0;
    letter-spacing: .24px;
    line-height: 1.125rem
}

.cmp-product-card__fps-table {
    border-collapse: collapse;
    text-align: left
}

.cmp-product-card__fps-table thead {
    border-bottom: 1px solid var(--color-primary)
}

.cmp-product-card__fps-table tbody tr {
    border-bottom: 1px solid var(--color-primary-700)
}

.cmp-product-card__fps-table tbody tr td,.cmp-product-card__fps-table tbody tr th {
    font-weight: 400;
    padding-bottom: .75rem;
    padding-top: .75rem
}

.cmp-product-card__fps-table tbody tr td:not(:last-child),.cmp-product-card__fps-table tbody tr th:not(:last-child) {
    padding-right: 1rem
}

.cmp-product-card__fps-table tbody tr:last-child {
    border: 0
}

.cmp-product-card__fps-table tbody tr:last-child td,.cmp-product-card__fps-table tbody tr:last-child th {
    padding-bottom: 0
}

.cmp-product-card__fps-table th {
    padding-bottom: .75rem
}

.cmp-product-card__fps-table th:not(:last-child) {
    padding-right: 1rem
}

.cmp-carousel__item:has(.cmp-product-card) {
    height: auto
}

.cmp-carousel__item .cmp-product-card {
    height: 100%
}

/* 1 End */


@media only screen and (max-width: 79.9375rem) {
    .mobile-margin-top {
        margin-top:1.25rem
    }
}

.perfect-match-products-container,.scrollable-component {
    margin: auto
}

@media only screen and (min-width: 80rem) {
    .perfect-match-products-container,.scrollable-component {
        max-width:77.5rem
    }
}

@media only screen and (max-width: 45.625rem) {
    .perfect-match-products-container,.scrollable-component {
        max-width:43rem
    }
}

.similar-products-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2rem;
    overflow: auto;
    scrollbar-width: none;
}

.similar-products-container .section-heading {
    margin: auto
}

.similar-products-container .product-toolbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.similar-products-container .product-toolbar .matched-product {
    white-space: nowrap
}

.similar-products-container .product-toolbar .cmp-product-toolbar__sort-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: var(--font-text);
    font-size: .875rem;
    font-weight: var(--regular);
    letter-spacing: 0;
    letter-spacing: .16px;
    line-height: 1.25rem
}

.similar-products-container .product-toolbar .cmp-product-toolbar__sort-wrapper .cmp-product-sort-label {
    color: var(--color-primary-700);
    white-space: nowrap
}

.similar-products-container .view-all-desktops-btn {
    margin: auto
}

.similar-products-container .view-all-desktops-btn:focus {
    background-color: transparent;
    color: var(--color-primary-950)
}

@media only screen and (max-width: 79.9375rem) {
    .similar-products-container {
        gap:1rem;
        padding-bottom: 1.25rem
    }

    .similar-products-container .section-heading {
        margin-left: 0;
        margin-right: auto
    }

    .similar-products-container .product-toolbar .matched-product {
        font-family: var(--font-text);
        font-size: .75rem;
        font-weight: var(--regular);
        letter-spacing: 0;
        letter-spacing: .24px;
        line-height: 1.125rem
    }

    .similar-products-container .product-toolbar .cmp-product-toolbar__sort-wrapper {
        font-family: var(--font-text);
        font-size: .875rem;
        font-weight: var(--regular);
        letter-spacing: 0;
        letter-spacing: .16px;
        line-height: 1.25rem
    }

    .similar-products-container .product-toolbar .section-actions-container {
        margin-top: 0
    }
}

@media only screen and (max-width: 45.625rem) {
    .similar-products-container {
        padding-bottom:1.25rem
    }

    .similar-products-container .product-toolbar {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .similar-products-container .product-toolbar .matched-product {
        font-family: var(--font-text);
        font-size: .75rem;
        font-weight: var(--regular);
        letter-spacing: 0;
        letter-spacing: .24px;
        line-height: 1.125rem
    }

    .similar-products-container .product-toolbar .cmp-product-toolbar__sort-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        font-family: var(--font-text);
        font-size: .875rem;
        font-weight: var(--regular);
        gap: .25rem;
        letter-spacing: 0;
        letter-spacing: .16px;
        line-height: 1.25rem;
        width: 50vw
    }

    .similar-products-container .product-toolbar .cmp-product-toolbar__sort-wrapper .cmp-product-sort {
        width: 100%
    }

    .similar-products-container .product-toolbar .cmp-product-toolbar__sort-wrapper .choices {
        padding: 0
    }

    .similar-products-container .section-actions-container {
        margin-top: 0
    }
}

.cmp-product-card__title {
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: var(--medium);
    letter-spacing: 0;
    line-height: 1.75rem
}

@media only screen and (max-width: 63.9375rem) {
    .cmp-product-card__body {
        gap:1rem
    }
}





.no-matches {
    background: transparent;
    color: var(--color-primary-950);
    display: none;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 5rem;
    padding: 2rem 4rem
}

.no-matches.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@media only screen and (max-width: 79.9375rem) {
    .no-matches {
        margin-bottom:1.25rem;
        padding: 2.5rem 1.25rem
    }
}

.no-matches__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.no-matches__title {
    font-family: var(--font-display);
    font-size: 1.875rem;
    font-weight: var(--medium);
    letter-spacing: 0;
    line-height: 2.375rem;
    margin-bottom: .75rem
}

@media only screen and (max-width: 79.9375rem) {
    .no-matches__title {
        font-family:var(--font-display);
        font-size: 1.25rem;
        font-weight: var(--medium);
        letter-spacing: 0;
        line-height: 1.75rem
    }
}

.no-matches__description {
    font-family: var(--font-text);
    font-size: 1rem;
    font-weight: var(--regular);
    letter-spacing: 0;
    line-height: 1.5rem
}

@media only screen and (max-width: 79.9375rem) {
    .no-matches__description {
        font-family:var(--font-text);
        font-size: .875rem;
        font-weight: var(--regular);
        letter-spacing: 0;
        letter-spacing: .16px;
        line-height: 1.25rem
    }
}

.no-matches-explore-products .heading {
    font-family: var(--font-display);
    font-size: 1.875rem;
    font-weight: var(--medium);
    letter-spacing: 0;
    line-height: 2.375rem;
    margin-bottom: 1.25rem;
    text-align: center
}

@media only screen and (max-width: 79.9375rem) {
    .no-matches-explore-products .heading {
        font-family:var(--font-display);
        font-size: 1.25rem;
        font-weight: var(--medium);
        letter-spacing: 0;
        line-height: 1.75rem
    }
}

.cmp-perfect-match-product__item {
    border-radius: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.cmp-perfect-match-product__item .cmp-product-card {
    border-radius: 0 0 14px 14px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: unset
}

.cmp-perfect-match-product__item .perfect-match-badge {
    padding: .25rem 0;
    text-align: center
}

.cmp-perfect-match-product__item .perfect-match-badge__text {
    color: var(--color-primary-950);
    font-family: var(--font-text);
    font-size: 1rem;
    font-weight: var(--regular);
    font-weight: var(--medium);
    letter-spacing: 0;
    line-height: 1.5rem
}

@media only screen and (max-width: 63.9375rem) {
    .cmp-perfect-match-product__item .perfect-match-badge__text {
        font-family:var(--font-text);
        font-size: .8125rem;
        font-weight: var(--regular);
        letter-spacing: 0;
        letter-spacing: .24px;
        line-height: 1.125rem
    }
}

.cmp-perfect-match-product__item:has(.perfect-match-badge--best-fit) {
    background: -webkit-gradient(linear,left top,right top,from(#da07ac),to(#7b05fd));
    background: linear-gradient(90deg,#da07ac,#7b05fd)
}

.cmp-perfect-match-product__item:has(.perfect-match-badge--customer-choice) {
    background: -webkit-gradient(linear,left top,right top,from(#0c74e4),to(#7b05fd));
    background: linear-gradient(90deg,#0c74e4,#7b05fd);
    padding: 0 3px 3px
}

.cmp-perfect-match-product__item:has(.perfect-match-badge--good-deal) {
    background: -webkit-gradient(linear,left top,right top,from(#00819e),to(#2205fd));
    background: linear-gradient(90deg,#00819e,#2205fd)
}

@media only screen and (min-width: 64rem) {
    .perfect-match-grid--single .perfect-match-grid__item {
        grid-column:5/9
    }

    .perfect-match-grid--double .perfect-match-grid__item:first-child {
        grid-column: 3/7
    }

    .perfect-match-grid--double .perfect-match-grid__item:last-child {
        grid-column: 7/11
    }
}

.perfect-match-grid__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

@media only screen and (max-width: 35.9375rem) {
    .perfect-match-grid__item {
        grid-column:1/-1!important;
        width: 100%
    }
}

.no-match-products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center
}

.no-match-products__title {
    color: var(--color-primary-950);
    font-family: var(--font-display);
    font-size: 2.75rem;
    font-weight: var(--medium);
    letter-spacing: 0;
    line-height: 3.25rem
}

.no-match-products__description {
    color: var(--color-primary-950);
    font-family: var(--font-text);
    font-size: 1rem;
    font-weight: var(--regular);
    letter-spacing: 0;
    line-height: 1.5rem;
    margin-top: 2rem
}

@media only screen and (max-width: 63.9375rem) {
    .no-match-products__title {
        font-family:var(--font-display);
        font-size: 1.25rem;
        font-weight: var(--medium);
        letter-spacing: 0;
        line-height: 1.75rem
    }

    .no-match-products__description {
        font-family: var(--font-text);
        font-size: .875rem;
        font-weight: var(--regular);
        letter-spacing: 0;
        letter-spacing: .16px;
        line-height: 1.25rem;
        margin-top: .75rem
    }
}

.perfect-match-mobile-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: .5rem
}

.perfect-match-mobile-grid__item {
    width: 100%
}

.product-matches-wrapper .top-spacing {
    padding-top: 64px
}

@media only screen and (max-width: 63.9375rem) {
    .product-matches-wrapper .top-spacing {
        padding-top:32px
    }
}

.product-matches-wrapper .bottom-spacing {
    padding-bottom: 120px
}

@media only screen and (max-width: 63.9375rem) {
    .product-matches-wrapper .bottom-spacing {
        padding-bottom:64px
    }
}

.product-matches-wrapper .cmp-product-card__title {
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: var(--medium);
    letter-spacing: 0;
    line-height: 1.75rem
}

.product-matches-wrapper .section-actions-container {
    margin-top: 0
}