<div class="cmp-key-features">
  <div class="container container-mobile-full">
    <div class="section-heading content-center">
      <h2 id="key-features-heading">Key Features</h2>
    </div>
    <div class="cmp-key-features__content">
      <div class="cmp-key-features__images">
        <img src="./clientlib-site/images/key-feature-img-1.webp" alt="ROG G700 desktop PC with blue and purple internal lighting, showcasing its sleek design and transparent side panel" />
      </div>

      <div
        id="key-features-additional-images"
        class="cmp-key-features__additional-content"
        aria-hidden="true"
      >
        <div class="cmp-key-features__images">
          <img src="./clientlib-site/images/key-feature-img-2.webp" alt="ROG G700 desktop PC with blue and purple internal lighting, showcasing its sleek design and transparent side panel" />
        </div>
        <div class="cmp-key-features__images">
          <img src="./clientlib-site/images/key-feature-img-3.webp" alt="ROG G700 desktop PC with blue and purple internal lighting, showcasing its sleek design and transparent side panel" />
        </div>

        <div class="cmp-feature-content">
          <h3 class="cmp-feature-content__title">About ASUS</h3>
          <p>
            ASUS is a multinational company best known for their motherboards, PCs, monitors,
            graphics cards and routers. Along with an expanding range of superior gaming,
            content-creation and AIoT solutions, ASUS leads the industry through cutting-edge design
            and innovations made to create the most ubiquitous, intelligent, heartfelt and joyful
            smart life for everyone. With a global workforce that includes more than 5,000 R&D
            professionals, ASUS is driven to become the world’s most admired innovative leading
            technology enterprise.
          </p>
          <h3 class="cmp-feature-content__title">About ROG</h3>
          <p>
            Republic of Gamers (ROG) is an ASUS sub-brand dedicated to creating the world’s best
            gaming hardware and software. Formed in 2006, ROG offers a complete line of innovative
            products known for performance and quality, including motherboards, graphics cards,
            laptops, desktops, monitors, audio equipment, routers and peripherals. ROG participates
            in and sponsors major international gaming events. ROG gear has been used to set
            hundreds of overclocking records and it continues to be the preferred choice of gamers
            and enthusiasts around the world.
          </p>
          <p>
            © 2022 ASUS Computer International. All Rights Reserved. ASUS is a registered trademark
            of ASUSTeK Computer. All specifications and terms are subject to change without notice.
            Please check with your supplier for exact offers on selected models. Products may not be
            available in all markets. Product may not be exactly as shown in photos. Actual colors
            may differ from their appearance due to variation of monitor restrictions and color
            processing. All trademarks are registered to their respective companies. ASUS shall not
            be liable for technical or editorial errors or omissions contained herein.
          </p>
        </div>
      </div>
    </div>

    <div class="cmp-key-features__actions">
      <button
        class="cmp-show-more-button btn btn-link"
        type="button"
        aria-expanded="false"
        aria-controls="key-features-additional-images"
        aria-describedby="key-features-heading"
      >
        <span class="button-text">Show more</span>
        <span class="icon icon--arrow-bottom" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>
