/* stylelint-disable max-line-length, font-family-name-quotes */

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"),
    url("../fonts/roboto.woff2") format("woff2");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto"),
    url("../fonts/roboto-500.woff2") format("woff2");
}

@font-face {
  font-family: "TTNormsProRegular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("TTNormsProRegular"),
    url("../fonts/tt-norms-pro.woff2") format("woff2");
}

@font-face {
  font-family: TTNormsProMedium;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("TTNormsProMedium"),
    url("../fonts/tt-norms-pro-500.woff2") format("woff2");
}
/* stylelint-enable max-line-length, font-family-name-quotes */