@use "../../../site/scss/settings/mixins" as mix;
@use "../../../site/scss/settings/typography" as typo;
@use "../../../site/scss/settings/variables" as vars;

.similar-products-container {
  display: flex;
  flex-direction: column;
  @include mix.spacer("gap", 8);

  .section-heading {
    @include mix.m(0, "b");
    margin: auto;
  }

  .product-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .matched-product {
      white-space: nowrap;
    }

    .cmp-product-toolbar__sort-wrapper {
      display: flex;
      @include mix.spacer("gap", 4);
      align-items: center;
      @include typo.text-small();

      .cmp-product-sort-label {
        color: var(--color-primary-700);
        white-space: nowrap;
      }
    }
  }

  .view-all-desktops-btn {
    margin: auto;
    &:focus {
      background-color: transparent;
      color: var(--color-primary-950);
    }
  }

  @include mix.respond-to("xl", "max") {
    @include mix.spacer("gap", 4);
    @include mix.p(5, "b");

    .section-heading {
      margin-right: auto;
      @include mix.m(0, "l");
    }
    .product-toolbar {
      .matched-product {
        @include typo.text-tiny();
      }

      .cmp-product-toolbar__sort-wrapper {
        @include typo.text-small();
      }

      .section-actions-container {
        @include mix.m(0, "t");
      }
    }
  }

  @include mix.respond-to("md", "max") {
    @include mix.p(5, "b");

    .product-toolbar {
      align-items: flex-start;

      .matched-product {
        @include typo.text-tiny();
      }

      .cmp-product-toolbar__sort-wrapper {
        flex-direction: column;
        align-items: flex-start;
        @include mix.spacer("gap", 1);
        @include typo.text-small();
        width: 50vw;

        .cmp-product-sort {
          width: 100%;
        }

        .choices {
          @include mix.p(0);
        }
      }
    }

    .section-actions-container {
      @include mix.m(0, "t");
    }
  }
}

.cmp-product-card__title {
  @include typo.text-display4();
}

@include mix.respond-to("lg", "max") {
  .cmp-product-card__body {
    @include mix.spacer("gap", 4);
  }
}
