<section
   class="dialog-container dialog--boxed cmp-bonus-dialog"
   data-a11y-dialog="select-bonus-dialog-<%= popupId || 'default' %>"
   id="select-bonus-dialog"
   aria-hidden="true"
   >
   <div class="dialog-overlay" data-a11y-dialog-hide="select-bonus-dialog-<%= popupId || 'default' %>"></div>
   <div class="dialog-content cmp-custom__popup-bonuses" role="dialog" aria-modal="true">
      <button
         class="cmp-close-popup"
         type="button"
         data-a11y-dialog-hide="select-bonus-dialog-<%= popupId || 'default' %>"
         aria-label="Close dialog"
         ></button>
      <div>
         <h3>ASUS ProArt Backpack</h3>
         <p class="sub-heading">Choose a color. Gifts are limited and available while stocks last.</p>
         <div class="cmp-bonus-popup-content">
            <div class="cmp-bonus-options-radio">
               <div class="radio-overlay">
                  <input
                     type="radio"
                     class="bonus-radio"
                     name="colour"
                     value="black"
                     aria-label="Item colour Black"
                     />
                  <div class="radio-checkmark"></div>
               </div>
               <div>
                  <p class="cmp-product-name"> <span class="cmp-product-colour"><img src="./clientlib-site/images/black-colour.webp" alt="mouse-color"></span><span>Black</span></p>
               </div>
            </div>
            <div class="cmp-bonus-options-radio">
               <div class="radio-overlay">
                  <input
                     type="radio"
                     class="bonus-radio"
                     name="colour"
                     value="red"
                     aria-label="Item colour Red"
                     />
                  <div class="radio-checkmark"></div>
               </div>
               <div>
                  <p class="cmp-product-name"> <span class="cmp-product-colour"><img   src="./clientlib-site/images/red-colour.webp" alt="mouse-color"></span><span>Red</span></p>
               </div>
            </div>
            <div class="cmp-bonus-options-radio">
               <div class="radio-overlay">
                  <input
                     type="radio"
                     class="bonus-radio"
                     name="colour"
                     value="grey"
                     aria-label="Item colour Grey"
                           />
                  <div class="radio-checkmark"></div>
               </div>
               <div>
                  <p class="cmp-product-name"> <span class="cmp-product-colour"> <img src="./clientlib-site/images/grey-colour.webp" alt="mouse-color"></span><span>Grey</span></p>
               </div>
            </div>
         
         </div>
            <!-- Below code is just for the design refrence for the another popup. Do not remove -->
         <!-- <div class="cmp-bonus-popup-content">
            <div class="cmp-bonus-options-radio">
               <div class="radio-overlay">
                  <input
                     type="radio"
                     class="bonus-radio"
                     name="colour"
                     value="black"
                     aria-label="Item memory 128GB"
                     />
                  <div class="radio-checkmark"></div>
               </div>
               <div>
                  <p class="cmp-product-name"><span> 128GB</span></p>
               </div>
            </div>
            <div class="cmp-bonus-options-radio">
               <div class="radio-overlay">
                  <input
                     type="radio"
                     class="bonus-radio"
                     name="colour"
                     value="red"
                     aria-label="Item memory 256GB"
                     />
                  <div class="radio-checkmark"></div>
               </div>
               <div>
                  <p class="cmp-product-name"> <span> 256GB</span></p>
               </div>
            </div>
            <div class="cmp-bonus-options-radio">
               <div class="radio-overlay">
                  <input
                     type="radio"
                     class="bonus-radio"
                     name="colour"
                     value="grey"
                     aria-label="Item memory 512GB"
                     />
                  <div class="radio-checkmark"></div>
               </div>
               <div>
                  <p class="cmp-product-name"> <span> 512GB</span></p>
               </div>
            </div>
           </div> -->
              <!-- Above code is just for the design refrence for the another popup. Do not remove -->
          <div  class="bonus-confirm-cta"> <button  role="button"  data-a11y-dialog-hide="select-bonus-dialog"
            aria-label="Close dialog"> Confirm</button></div>
      </div>
   </div>
</section>