<div class="product-comparison-page light-mode">
    <div class="product-comparison-component-wrapper">
        <%- include('../components/product-comparison-page/_product-comparison-page.ejs') %>
    </div>
</div>