<div class="product-comparison-page light-mode">
    <div class="product-comparison-floating-card__container-wrapper hidden">
        <div class="product-comparison-floating-card__container container layout-grid layout-grid--cols">
        </div>
    </div>
    <div class="product-comparison-component-wrapper">
        <%- include('../components/product-comparison-page/_product-comparison-page.ejs') %>
    </div>
</div>