<div class="no-matches" id="no-matches">
    <div class="no-matches__container">
        <h2 class="no-matches__title">No matches</h2>
        <p class="no-matches__description">
            Oops.. Seems like we did not find item that matches your search.<br>
            Please use a different search term, relax your criteria, or check out our hottest products below.
        </p>
    </div>
</div>