<div class="cmp-floating-price">
   <div class="web-only">
      <div class="layout-grid">
         <div class="layout-grid__col layout-grid__col--span-6 layout-grid__col--md-span-12">
           <div class="cmp-floating-content-left">
            <p>A maximum of 5 pieces per customer.</p>
            <p>Available on 09/30/2022</p>
            <p>Up to 5 working days to ship.</p></div>
         </div>
         <div class="layout-grid__col layout-grid__col--span-6 layout-grid__col--md-span-12">
            <div class="cmp-floating-content-right">
               <div class="content-section">
                  <p class="discount-text discount-price-text ">$1,999.99</p>
                  <p> <span class="slashed-price">$1,099.99</span><span class="discount-text">Save $100.00 with ASUS Member Program</span></p>
                  <p>Starting at $91/mo with  <span><img src="./clientlib-site/images/affirm.webp" alt="affirm-logo"></span>. <span class="links">Prequalify now</span></p>
                  <p><span><img src="./clientlib-site/images/acima-logo.webp" alt="acima-logo"></span><span class="links">Learn more</span></p>
               </div>
               <div class="action-section">
                  <button class="btn floating-add-to-cart">Add to Cart </button>  <span class="icon icon--bookmark"></span>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="mobile-only">
    <div class="cmp-price-section">
    <div>
      <p class="discount-text">$1,999.99</p>
      <p class="slashed-price">$1,099.99</p>
    </div>
    <div class="actions-mobile">
      <button class="btn floating-add-to-cart">Add to Cart </button> <span class="icon icon--bookmark"></span>
    </div>
    </div>
    <div class="cmp-info-section">
      <p class="discount-text">Save $100.00 with ASUS Member Program</p>
      <p>Starting at $91/mo with  <span><img src="./clientlib-site/images/affirm.webp" alt="affirm-logo"></span>. <span class="links">Prequalify now</span></p>
      <p><span><img src="./clientlib-site/images/acima-logo.webp" alt="acima-logo"></span><span class="links">Learn more</span></p>
    </div>
    <div class="floating-price-accordion">
      <div class="hide-more hide-more-accordion">
   <div class="hide-more-item hide-more-item">
     <p class="hide-more-title hide-more-accordion-trigger">Hide More</p>
     <div class="hide-more-content">
      <p>A maximum of 5 pieces per customer.</p>
      <p>Available on 09/30/2022</p>
      <p>Up to 5 working days to ship.</p>
     </div>
   </div>
   
 </div><!-- hide-more -->
 
    </div>
   </div>
 </div>