<div class="cmp-tech-specs">
  <div class="container">
     <div class="section-heading">
        <h2>Tech Specs</h2>
        <div class="support-faq"><a href="#">Support & FAQs<span class="icon icon--arrow-right"></span></a></div>
     </div>
     <div class="cmp-tech-specs-details">
        <div class="layout-grid">
           <div class="layout-grid__col layout-grid__col--span-6 layout-grid__col--md-span-12">
              <div class="cmp-tech-specs__item-wrapper">
                 <div class="cmp-tech-specs__item">
                    <h3>Color</h3>
                    <ul>
                     <li>Black</li>
                    </ul>
                 </div>
                 <div  class="cmp-tech-specs__item">
                    <h3>Operating System</h3>
                    <ul>
                     <li>Windows 11 Pro - ASUS recommends Windows 11 Pro for business</li>
                    </ul>
                 </div>
                 <div  class="cmp-tech-specs__item">
                    <h3>Processor</h3>
                    <ul>
                     <li>Intel® Core™ Ultra 9 Processor 285K (36M Cache, up to 5.50 GHz)</li>
                    </ul>
                 </div>
                 <div  class="cmp-tech-specs__item">
                    <h3>Chipset</h3>
                    <ul>
                     <li>Intel® B860 Chipset</li>
                    </ul>
                 </div>
                 <div  class="cmp-tech-specs__item">
                    <h3>Memory</h3>
                    <ul>
                     <li>4x DDR5 U-DIMM slot </li>
                    <li>16GB DDR5 U-DIMM x 2  </li>
                     <li>Memory max up to:128GB</li>
                    </ul>
                 </div>
                 <div  class="cmp-tech-specs__item">
                    <h3>Sata</h3>
                    <ul>
                     <li>6 x SATA 6.0Gb/s ports</li>
                    </ul>
                 </div>
                 <div  class="cmp-tech-specs__item">
                    <h3>Storage</h3>
                    <ul>
                     <li>1TB M.2 2280 NVMe™ PCIe® 4.0 SSD x 2</li>
                    </ul>
                 </div>
                 <div  class="cmp-tech-specs__item">
                    <h3>FRONT I/O PORTS</h3>
                    <ul>  <li>1x Headphone </li>
                       <li>1x Mic in </li>
                       <li>1x USB 3.2 Gen 1 Type-C</li>
                    </ul>
                 </div>
                 <div class="cmp-tech-specs__item">
                    <h3>REAR I/O PORTS</h3>
                    <ul>
                       <li>1x RJ45 Gigabit Ethernet </li>
                       <li>2x HDMI </li>
                       <li>1x Displayport 1.4 </li>
                       <li>1x PS2 </li>
                       <li>3 x Audio jacks </li>
                       <li> 4x USB 2.0 Type-A </li>
                      <li> 2x USB 3.2 Gen 2 Type-A</li>
                    </ul>
                 </div>
              </div>
           </div>
           <div class="layout-grid__col layout-grid__col--span-6 layout-grid__col--md-span-12">
              <div class="cmp-tech-specs__item-wrapper">
                 <div  class="cmp-tech-specs__item">
                    <h3>Expansion Slots (Includes Used)</h3>
                    <ul>
                     <li>
                        1x PCIe® 4.0 x 16 
                     </li> 
                     <li>
                        3 x PCIe® 4.0 x16 
                     </li>
                     <li>
                        (when using vertical graphic card, other PCle 4.0 x16 slots are not available)
                     </li>
                    </ul>
                 </div>
                 <div  class="cmp-tech-specs__item">
                    <h3>Audio</h3>
                    <ul> <li> High Definition 7.1 Channel Audio</li>
                    </ul>
                 </div>
                 <div  class="cmp-tech-specs__item">
                    <h3>Power supply</h3>
                    <ul> <li> 850W power supply (80+ Gold, peak 900W)</li>
                    </ul>
                 </div>
                 <div  class="cmp-tech-specs__item">
                    <h3>Weight</h3>
                    <ul> <li> 18.32 kg (40.39 lbs)</li>
                    </ul>
                 </div>
                 <div  class="cmp-tech-specs__item">
                    <h3>Dimensions</h3>
                    <ul> <li> 24.00 x 50.92 x 47.96 cm (9.45" x 20.05" x 18.88") </li>
                       <li>Not including chassis feet and GPU bracket.</li>
                    </ul>
                 </div>
                 <div  class="cmp-tech-specs__item">
                    <h3>Dimensions</h3>
                    <ul> <li>24.00 x 50.92 x 47.96 cm (9.45" x 20.05" x 18.88") </li>
                       <li>Not including chassis feet and GPU bracket.</li>
                    </ul>
                 </div>
                 <div class="cmp-tech-specs__item">
                    <h3>Ecolabels & Compliances</h3>
                    <ul> <li>RoHs</li>
                    </ul>
                 </div>
                 <div class="cmp-tech-specs__item">
                    <h3>Included in the box (Optional)</h3>
                    <ul> <li>Gaming RGB Mouse(USB) </li>
                       <li>Gaming RGB Keyboard(USB)</li>
                    </ul>
                 </div>
                 <div class="cmp-tech-specs__item">
                    <h3>Thermal</h3>
                    <ul> <li>Liquid Cooler</li>
                    </ul>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>