@use "../../../../site/scss/settings/typography" as typo;
@use "../../../../site/scss/settings/variables" as vars;
@use "../../../../site/scss/settings/mixins" as mix;

.cmp-game-fps-sticky-navigation {
  position: fixed;
  top: -100%;
  width: 100%;
  z-index: 9;

  .cmp-game-fps-sticky-nav {
    background-color: var(--color-primary);
    @include mix.p(8);

    &__left {
      display: flex;
      justify-self: start;
      align-items: center;
      height: 100%;
    }

    &__right {
      display: flex;
      justify-self: end;

      .empty-game-fps-section {
        display: flex;
        align-items: center;
        justify-content: center;
        @include typo.text-display7;
        color: var(--color-primary-600);
      }
    }
  }

  .game-fps-accordion-wrapper {
    display: none;
  }

  .vertical-divider {
    width: 1px;
    height: auto;
    background-color: var(--color-primary-200);
    @include mix.m(8, "x");
  }

  .fps-info-section {
    display: flex;
    flex-direction: column;
    text-align: right;
    @include mix.spacer("gap", 4);

    button,
    p {
      @include typo.text-xsmall;
    }

    .fps-info {
      border: none;
      background: transparent;
      color: var(--color-primary-950);
      display: inline-flex;
      cursor: pointer;
      @include mix.spacer("gap", 1);
      @include mix.p(0);
    }

    .fps-select {
      background: transparent;
      color: var(--color-primary-950);
      width: 100px;
      border-radius: vars.$border-radius;
      @include typo.text-base;
      @include mix.p(4, "x");
      @include mix.p(1, "y");

      option {
        color: var(--color-primary-100);
      }
    }
  }

  .fps-scores {
    display: flex;
    justify-content: center;
    @include mix.spacer("gap", 2);
    flex-wrap: wrap;

    img {
      width: 44px;
    }
  }

  .web-only {
    display: flex;
  }

  &.show {
    position: sticky;
    top: 0;
    z-index: 9;
  }

  .choices {
    text-align: initial;
  }
}

.game-fps-accordion-wrapper {
  .game-fps-accordion {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;

    .game-fps-accordion-item {
      background-color: var(--background-color);
      border: 1px solid var(--border-color);
      border-radius: 5px;

      .empty-game-fps-section {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-primary-600);
        @include mix.p(8, "y");
        @include mix.m(6, "x");

        p {
          @include typo.text-display7;
        }
      }

      .game-fps-accordion-item-header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 10px;
        cursor: pointer;

        .game-fps-accordion-item-header-title {
          display: inline-flex;
          align-items: center;
          gap: 4px;
        }

        .game-fps-accordion-item-header-icon {
          transition: var(--transition);
          vertical-align: middle;
        }
      }

      .game-fps-accordion-item-description-wrapper {
        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        transition: var(--transition);

        hr {
          border: none;
          border-top: 1px solid var(--border-color);
          visibility: visible;
        }

        .game-fps-accordion-item-description {
          min-height: 0;
        }
      }

      &.open {
        .game-fps-accordion-item-header {
          .game-fps-accordion-item-header-icon {
            transform: rotate(-180deg);
          }
        }

        .game-fps-accordion-item-description-wrapper {
          grid-template-rows: 1fr;
          border-top: 1px solid;
        }
      }
    }
  }
}

// mobile specific styles

@include mix.respond-to("md", "max") {
  .cmp-game-fps-sticky-nav__right {
    display: block;
  }

  .cmp-game-fps-sticky-navigation {
    .cmp-game-fps-sticky-nav {
      @include mix.p(4, "y");
      @include mix.p(0, "x");
    }

    .game-fps-accordion-wrapper {
      display: block;
    }

    .fps-info-section {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      @include mix.spacer("gap", 4);
      @include mix.m(4, "y");
      .fps-info-section__left {
        text-align: left;
        flex-basis: 50%;
      }
      .fps-info-section__right {
        flex-basis: 50%;
      }
      .fps-info {
        @include mix.p(0);

        .fps-title {
          @include typo.text-xsmall;
        }
        .fps-scores {
          display: flex;
          @include mix.spacer("gap", 1);
          flex-wrap: wrap;
          img {
            width: 50px;
          }
        }
      }

      p {
        @include typo.text-xsmall;
      }
    }

    .web-only {
      display: none;
    }
  }
}
